<div>
  <h1>You will be redirected to Kbank gateway in a few seconds.</h1>
   <form id = "payment" name = "payment" method="post" action="<?php echo $block->getFormActionUrl(); ?>">
        <input id="MERCHANT2" name="MERCHANT2" value="<?php echo $block->getMerchantId(); ?>" type="hidden">
        <input id="TERM2" name="TERM2" value="<?php echo $block->getTerminalId(); ?>" type="hidden">
        <input id="AMOUNT2" name="AMOUNT2" value="<?php echo $block->getGrandTotal(); ?>" type="hidden">
        <input id="URL2" name="URL2" value="<?php echo $block->getReturnUrl(); ?>" type="hidden">
        <input id="RESPURL" name="RESPURL" value="<?php echo $block->getBackendUrl(); ?>" type="hidden">
        <input id="IPCUST2" name="IPCUST2" value="<?php echo $block->getServerIp(); ?>" type="hidden">
        <input id="DETAIL2" name="DETAIL2" value="<?php echo $block->getDescription(); ?>" type="hidden">
        <input id="INVMERCHANT" name="INVMERCHANT" value="<?php echo $block->getIncrementId(); ?>" type="hidden">
        <input id="FILLSPACE" name="FILLSPACE" value="N" type="hidden">
        <input id="SHOPID" name="SHOPID" value="<?php echo $block->getShopId(); ?>" type="hidden">
        <input id="PAYTERM2" name="PAYTERM2" value="<?php echo $block->getInstallmentMonth(); ?>" type="hidden">
        <input id="CHECKSUM" name="CHECKSUM" value="<?php echo $block->getCheckSum(); ?>" type="hidden">
    </form>
</div>
<script type="text/javascript">
document.getElementById("payment").submit();
</script>
