<div>
   <h1 style = "text-align: center; padding-top: 15px;">You will be redirected to 123 Service in a few seconds.</h1>
   <form id = "payment" name = "payment" method="post" action="<?php echo $block->getFormActionUrl(); ?>">
        <input id="OneTwoThreeReq" name="OneTwoThreeReq" value="<?php echo $block->getRequestData(); ?>" type="hidden">
    </form>
</div>
<script type="text/javascript">document.getElementById("payment").submit();</script>