<?php
/**
 * Solwin Infotech
 * Solwin Instagram Extension
 * 
 * @category   Solwin
 * @package    Solwin_Instagram
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/
 */
$helper = $this->helper('\Solwin\Instagram\Helper\Data');
$enable = $helper->getConfig('instagramsection/instagramgroup/active');
$userId = $helper->getConfig('instagramsection/instagramgroup/userid');
$accessToken = $helper->getConfig('instagramsection/instagramgroup/accesstoken');
$imageNumber = $this->getData('numberimage');
?>

<?php
if ($enable) {
    ?>
<div class="insta_block">
    <div class="insta_title">
        <div class="title_center">
            <h1><?php echo $this->getData('title'); ?></h1>
        </div>
        <a href="#" class="right_link">view gallery</a>
    </div>
    <div class="insta_content">
        <ul class="owl-carousel">
        <?php
            $url = 'https://api.instagram.com/v1/users/' . $userId . '/media/recent/?access_token=' . $accessToken;
            $args = stream_context_create(array('http' => array('timeout' => 2500,)));
            //for Live server
            $instagramFeedsData = file_get_contents($url, false, $args );
            // for local server
            // $instagramFeedsData = $helper->getInstangramData($url);

            $instagramFeeds = json_decode($instagramFeedsData);

            $instangramData = $instagramFeeds->data;
            $count = 1;
            $imsize = 0;
            $bigimg = 0;
            foreach ($instangramData as $instagramFeed) {
                if ($imageNumber < $count) {
                    break;
                }
                $instagramImage = $instagramFeed->images->thumbnail->url;
                $count++;
                $caption_text = 'Instagram';
                if (is_object($instagramFeed->caption)) {
                    $caption_text = $instagramFeed->caption->text;
                }
                $imsize++;
                $bigimg++;

                if($imsize == 2){?>
                    <li style="width: 413px;">
                    <?php $bigimg = -1;
                }
                else{
                    if($bigimg == 2){?>
                        <li style="width: 413px;">
                        <?php
                        $imsize = 0;
                        $bigimg = 0;
                    }else{?>
                        <li class="instasmall" style="width: 280px;">
                    <?php }
                }

                ?>
                    <a class="back_img" href ="<?php echo $instagramFeed->link; ?>" target="_blank">
                        <img src="<?php echo $instagramImage; ?>" title="<?php echo $caption_text; ?>" alt="<?php echo $caption_text; ?>"/>
                    </a>
                    <div class="insta_wish">
                        <a href="#"><i class="fa fa-heart" aria-hidden="true"><span><?php echo $instagramFeed->likes->count; ?></span></i></a>
                        <a href="#"><i class="fa fa-comment" aria-hidden="true"><span><?php echo $instagramFeed->comments->count; ?></span></i></a>
                    </div>
                </li>
            <?php
                }
            ?>
        </ul>
    </div>
</div>
<?php  } ?>
<script type="text/javascript">
    require (['jquery', 'slick'], function () {
        jQuery(document).ready(function () {
            jQuery('.insta_content ul').slick({
                dots: false,
                infinite: true,
                arrows: true,
                speed: 300,
                slidesToShow: 1,
                //centerMode: true,
                variableWidth: true
            });
        });
    });
</script>


<?php
/*
$tt = array("0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0");
$i = 0;
$j = 0;
foreach($tt as $t){
    $i++;
    $j++;
    if($i == 2){
        echo $t.$j.$i."big<br/>";
        $j = -1;
    }
    else{
        if($j == 2){
            echo $t.$j.$i."big<br/>";
            $i = 0;
            $j = 0;
        }else{
            echo $t.$j.$i."small<br/>";
        }
    }
}*/
?>
