
<div class="footer content">
    <div class="footer_logo">
        <img src="<?php echo $block->getViewFileUrl('images/footer_logo.png'); ?>">
    </div>
    <div class="footer_top">
          <div class="footer_text_content">
              <ul>
                  <li>
                      <a href="#">
                      <img src="<?php echo $block->getViewFileUrl('images/delivery1.png'); ?>">
                      <span><?php echo __('Free Standard Delivery') ?></span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                      <img src="<?php echo $block->getViewFileUrl('images/samples1.png'); ?>">
                      <span><?php echo __('Ftee Deluxe Samples') ?></span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                      <img src="<?php echo $block->getViewFileUrl('images/gift1.png'); ?>">
                      <span><?php echo __('Gift Wrapping') ?></span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                      <img src="<?php echo $block->getViewFileUrl('images/security1.png'); ?>">
                      <span><?php echo __('Secure Payment') ?></span>
                      </a>
                  </li>
              </ul>
          </div>
    </div>
    <div class="footer_top_center">
        <div class="footer_text_content">
            <ul class="link">
                <li><a href="<?php echo $this->getUrl('make-up.html'); ?>"><?php echo __('Makeup')?></a> </li>
                <li><a href="<?php echo $this->getUrl('skincare.html'); ?>"><?php echo __('Skincare')?></a> </li>
                <li><a href="<?php echo $this->getUrl('fragrance.html'); ?>"><?php echo __('fragrance')?></a> </li>
                <li><a href="<?php echo $this->getUrl('online-exclusives.html'); ?>"><?php echo __('online Exclusives')?></a> </li>
                <li><a href="#"><?php echo __('Beauty Mag')?></a> </li>
                <li><a href="#"><?php echo __('Elite Rewards')?></a> </li>
            </ul>
            <ul>
                <li><a href="#"><?php echo __('Find a Store')?></a> </li>
                <li><a href="#"><?php echo __('Need Help?')?></a> </li>
                <li><a href="#"><?php echo __('Maison LancÔme')?></a> </li>
            </ul>
        </div>
    </div>
    <div class="footer_top_bootom">
        <div class="footer_text_content">
            <div class="footer_top_left">
                <?php  echo $this->getChildHtml("subscribe"); ?>
            </div>
            <div class="footer_top_right">
                <div class="footer_content_right">
                    <p><?php echo __('Stay in Touch with LancÔme')?></p>
                    <strong><img src="<?php echo $block->getViewFileUrl('images/cell1.png'); ?>"><span><?php echo __('09 69 36 44 33 ') ?><span><?php echo __('(standard rate number)')?></span></span></strong>
                    <strong><img src="<?php echo $block->getViewFileUrl('images/mail1.png'); ?>"><span><a href="mailto:webmaster@example.com"><?php echo __('Send an e-mail') ?></a></span></strong>
                    <ul>
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/login"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://in.pinterest.com/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom_top">
        <div class="footer_text_content">
            <?php  echo $this->getChildHtml("copyright"); ?>
            <div class="footer link">
                <ul>
                    <li>
                        <a href="#"><?php echo __('Site map')?></a>
                    </li>
                    <li>
                        <a href="#"><?php echo __('Terms & Conditions')?></a>
                    </li>
                    <li>
                        <a href="#"><?php echo __('Cookies')?></a>
                    </li>
                    <li>
                        <a href="#"><?php echo __('Privacy policy')?></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="footer_text_content">
            <div class="footer_content_left">
                <!--<ul>
                <li>
                    <a href="#"><?php /*echo __('Free Delivery')*/?></a>
                    <ul>
                        <li><a href="#"><?php /*echo __('Cash On Delivery')*/?></a> </li>
                    </ul>
                </li>
            </ul>-->
                <select>
                    <option><?php echo __('Free Delivery')?></option>
                    <option><?php echo __('Cache On Delivery')?></option>
                </select>
            </div>
            <div class="footer_content_right">
                <ul>
                    <li><a href="#"><?php echo __('Why shop online?')?></a></li>
                    <li><a href="#"><?php echo __('Chat')?></a></li>
                    <li><a href="#"><?php echo __('Elite Rewards')?></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

