<!--<header class="page-header test">
<div class="panel wrapper">
    <div class="panel header">
      <?php /*echo $this->getChildHtml("store_language"); */?>
      <?php /*echo $this->getChildHtml("currency"); */?>
      <?php /*echo $this->getChildHtml("skip_to_content"); */?>
      <?php /* echo $this->getChildHtml("top.links"); */?>
    </div>
</div>
<div class="header content">
      <?php /*echo $this->getChildHtml("logo"); */?>
      <?php /*echo $this->getChildHtml("minicart"); */?>
      <?php /*echo $this->getChildHtml("topSearch"); */?>
</div>
</header>-->
<header class="page-header">
    <div class="header content">
        <div class="header_top">
            <div class="header_left">
                <div class="logoicon">
                    <?php echo $this->getChildHtml("logo"); ?>
                </div>
                <?php echo $this->getChildHtml("store_language"); ?>
                <ul class="link">
                    <li>
                        <a href="#">
                            <i class="fa fa-map-marker" aria-hidden="true"></i><?php echo __('Store Locator');?>
                        </a>
                    </li>
                    <li>
                        <a href="#" ><label class="need_help"><?php echo __('Need Help?') ?></label></a>
                        <div class="popup_content content1">
                            <div class="content_left">
                                <h6><?php echo _('A Question?') ?></h6>
                                <ul>
                                    <li><a href="#"><?php echo __('FAQ'); ?></a></li>
                                    <li><a href="#"><?php echo __('Tracking control'); ?></a></li>
                                    <li><a href="#"><?php echo __('Shipping & Returns'); ?></a></li>
                                    <li><a href="#"><?php echo __('Why buy online?'); ?></a></li>
                                </ul>
                            </div>
                            <div class="content_right">
                                <div class="content">
                                    <h6><?php echo __('Contact us')?></h6>
                                    <span><?php echo __('From Monday to Friday')?></span>
                                    <span><?php echo __('9 am - 7pm')?></span>
                                    <a href="<?php echo $this->getUrl('contact'); ?>"><i class="fa fa-mobile" aria-hidden="true"></i><?php echo __('09 69 36 44 33  ')?><span><?php echo __(' (standard rate number)')?></span></a>
                                    <a href="<?php echo $this->getUrl('contact'); ?>" class="email"><i class="fa fa-envelope" aria-hidden="true"></i><?php echo __('Send an e-mail')?><span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><label class="online_shop"><?php echo __('Why Shop Online?') ?></label></a>
                        <div class="popup_content content2">
                            <ul>
                                <li>
                                    <img src="<?php echo $block->getViewFileUrl('images/shop1.png'); ?>">
                                    <div class="shop_content">
                                        <h6><a href="#"><?php echo __('Free Standard Delivery')?></a></h6>
                                        <p><?php echo __('Enjoy complimentary shipping with any purchase of $50.00 or more on <br> Lancome.com')?></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="<?php echo $block->getViewFileUrl('images/shop2.png'); ?>">
                                    <div class="shop_content">
                                        <h6><a href="#" ><?php echo __('Free Deluxe Samples')?></a></h6>
                                        <p><?php echo __('3 complementary free deluxe samples during checkout.')?></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="<?php echo $block->getViewFileUrl('images/shop3.png'); ?>">
                                    <div class="shop_content">
                                        <h6><a href="#"> <?php echo __('Gift Weapping')?></a></h6>
                                        <p><?php echo __('At checkout, ask for your luxury Lancome gift boxes and get your order wrapped for only $5.00.')?></p>
                                    </div>
                                </li>
                                <li>
                                    <img src="<?php echo $block->getViewFileUrl('images/shop4.png'); ?>">
                                    <div class="shop_content">
                                        <h6><a href="#"><?php echo __('Secure Payment')?></a></h6>
                                        <p><?php echo __('Orders are processed within 24hours. Shopping is always safe & securs.')?></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header_center">
                <?php echo $this->getChildHtml("logo"); ?>
            </div>
            <div class="header_right">
                <div class="account_link">
                    <ul>
                        <li>
                            <a href="#"><?php echo __('Maison LancÔme');?></a>
                        </li>
                        <li>
                            <?php
                            $objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
                            $customerSession = $objectManagerlogin->get('Magento\Customer\Model\Session');
                            $baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
                            ?>
                            <?php if($customerSession->isLoggedIn()) { ?>
                                <a href="<?php echo $baseurl .'customer/account/logout'; ?>"><?php echo __('Sign Out');?></a>
                                <?php }else { ?>
                                <a href="#"><?php echo __('Email Sign up');?></a></li>
                                <?php
                            }
                            ?>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('customer/account'); ?>">
                            <label class="myaccount"><?php echo __('My account');?>
                                <img class="accounticon" src="<?php echo $block->getViewFileUrl('images/account.png'); ?>"/>
                            </label>
                            </a>
                            <?php
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $customerSession = $objectManager->get('Magento\Customer\Model\Session');
                            if($customerSession->isLoggedIn()) { ?>

                                <div class="login_popoup customer_account" id="login">
                                    <div class="login_popup_content">
                                        <div class="login_content">
                                            <?php echo __('Welcome')?>
                                            <span><?php echo $customerSession->getCustomer()->getName();?></span>
                                        </div>
                                        <div class="account_link">
                                            <ul>
                                                <li><a href="#"><?php echo __('Order tracking')?></a></li>
                                                <li><a href="<?php echo $this->getUrl('wishlist'); ?>"><?php echo __('Whishlist')?></a></li>
                                                <li><a href="#"><?php echo __('Favorites')?></a></li>
                                                <li><a href="#"><?php echo __('Contactin information')?></a></li>
                                                <li><a href="<?php echo $this->getUrl('customer/address'); ?>"><?php echo __('Adress book')?></a></li>
                                                <li><a href="#"><?php echo __('My beauty profile')?></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="login_bootom">
                                        <h6><?php echo __('Your Privileges') ?></h6>
                                        <span><?php echo __('Complimentary gift, deluxe samples and invitation to members-only shop- ping events.')?></span>
                                        <p><?php echo __('Exclusive offers for suscribers')?></p>
                                        <p><?php echo __('Brand new previews')?></p>
                                        <p><?php echo __('All diagnoses and beauty tips')?></p>
                                     </div>
                                </div>
                            <?php }else{ ?>
                                <div class="login_popoup cusomer_login " id="login">
                                    <div class="login_page">
                                        <div class="login_link">
                                            <h6><?php echo __('Login with')?></h6>
                                            <div class="social_icon">
                                            <!--    <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                <a href="https://twitter.com/login"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                <a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>-->
                                                <?php echo $this->getChildHtml("social-login-popup-authentication-social-login2"); ?>
                                            </div>

                                        </div>
                                        <?php echo $this->getChildHtml("customer_form_login2"); ?>
                                    </div>
                                    <!--<div class="create_newaccount_page">
                                        <h6><?php /*echo __('Create an Account')*/?></h6>
                                        <p><?php /*echo __('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.');*/?></p>
                                        <p><?php /*echo __('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.');*/?></p>
                                        <div class="new_account"><a class="action account_link" href="<?php /*echo $this->getUrl('customer/account/create/'); */?>"><span><?php /* echo __('Create an Account')*/?></span></a></div>
                                    </div>-->
                                </div>
                            <?php } ?>
                        </li>
                    </ul>
                </div>

                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
        <div class="header_bottom">
            <div class="search_icon" id="btn_search">
                <span id="search_link" class="search_click"><?php echo __('Search')?></span><img src="<?php echo $block->getViewFileUrl('images/search.png'); ?>"/>
            </div>
        </div>
    </div>
    <div class="search_conetnt" id="header_bottom">
        <?php echo $this->getChildHtml("topSearch"); ?>
    </div>
</header>
<script type="text/javascript">
    require(['jquery'], function () {
        jQuery(document).ready(function () {
            jQuery(' #header_bottom, #btn_search').on('click', function (e) {
                e.stopPropagation();
            });
            jQuery(document).click(function() {
                jQuery('#header_bottom').slideUp(300);
                if(jQuery('body').hasClass('search-active')){
                    jQuery('body').removeClass('search-active');
                    jQuery('.search_icon').removeClass('active');
                }
            });
            jQuery('#btn_search').click(function () {
                jQuery('#header_bottom').slideToggle(300);
                jQuery('body').toggleClass('search-active');
                jQuery('.search_icon').toggleClass('active');
            });
        });
    });
</script>
<script type="text/javascript">
    require(['jquery'], function () {
        setInterval(function(){
            var tdistance = jQuery('#maincontent').offset().top,
                $window = jQuery(window);
            tdistance = tdistance +20;
            $window.scroll(function() {
                if ($window.scrollTop() >= tdistance) {
                    jQuery('.logoicon').addClass("fixed-logo");
                    jQuery('.minicart-wrapper').addClass("fixed-minicart");
                    jQuery('.search_icon').addClass("fixed-search");
                    jQuery('.search_conetnt').addClass("fixed-search_conetnt");
                    jQuery('.myaccount').addClass("fixed-account");
                    jQuery('.login_popoup').addClass("fixed-login_popoup");

                }else{
                    jQuery('.logoicon').removeClass("fixed-logo");
                    jQuery('.minicart-wrapper').removeClass("fixed-minicart");
                    jQuery('.search_icon').removeClass("fixed-search");
                    jQuery('.search_conetnt').removeClass("fixed-search_conetnt");
                    jQuery('.myaccount').removeClass("fixed-account");
                    jQuery('.login_popoup').removeClass("fixed-login_popoup");
                }
            });
        }, 1000);
        jQuery(document).ready(function(){
            jQuery(this).scrollTop(0);
        });
    });
</script>