.opacity(@opacity: 100) { -webkit-opacity:@opacity / 100; -moz-opacity:@opacity / 100; -khtml-opacity:@opacity / 100; opacity:@opacity / 100;
  filter: ~"alpha(opacity=@{opacity})"; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity})";
}
.placeholder(@color: #1a1a1a,@opacity:100) {
  &::-webkit-input-placeholder { color:@color;}
  &:-moz-placeholder { color:@color; .opacity(@opacity);}
  &::-moz-placeholder { color:@color; .opacity(@opacity);}
  &:-ms-input-placeholder { color:@color;}
}

ul{padding: 0; margin: 0; list-style: none;}

//====================================================================================================================================================================================
/* Header & footer*/
//====================================================================================================================================================================================
body.search-active:before { content: '';  position: fixed;  width: 100%;  height: 100%;  top: 0;  left: 0;  background: rgba(0, 0, 0, 0.4); display: inline-block;  z-index: 2;  }
.page-main, .header.content{max-width: 1280px;}
.page-wrapper{
  .page-header{background-color: #131313;
    .header {
      &.content{padding: 9px 0 8px; vertical-align: middle;
        .header_top{
          .header_left{width: 37.33333%; float: left; display: inline-block; padding-top: 25px; font-family: 'Gotham-Book';
            .logoicon{display: none;
              &.fixed-logo{ margin-top: -28px; position: fixed; z-index: 99; display: block; margin-left: -50px;
                .logo{margin: 0; width: 100%; float: none; display: inherit; max-width: 85%; margin-top: 7px;}
              }
            }
            &.fixed-logo{ margin-top: -18px; position: fixed; z-index: 99; }
            .switcher{
              &.switcher-language{vertical-align: top; color: #999999; padding: 0; font-size: 11px; text-transform: uppercase; margin: 3px 0 0 0; font-weight: 600; letter-spacing: inherit;
                .actions {
                  &.dropdown{
                    .action {
                      &.toggle{
                        &:hover{color: #fff;}
                        &:after{line-height: 15px; font-size: 28px;}
                      }
                    }
                    .mage-dropdown-dialog{
                      .switcher-dropdown{
                        .switcher-option{
                          a{color: #262626; font-size: 11px;}
                        }
                      }
                    }
                  }
                }
              }
            }
            .link{list-style: none; display: inline-block;
              li{float: left; margin-bottom: 0;
                &:hover, &:focus{color: #fff;}
                label{color: #999999; text-transform: uppercase; font-size: 11px; letter-spacing: inherit; cursor: pointer;
                  &:hover{text-decoration: none; color: #fff;}
                  &.need_help{ position: relative; display: inline-block;
                    &:hover, &:focus{color: #fff; }
                  }
                }
                a{color: #999999; text-transform: uppercase; font-size: 11px; letter-spacing: inherit;
                  &:hover{text-decoration: none; color: #fff;}
                  i{margin-right: 7px; font-size: 13px;}
                }
                &:before{content: '|'; color: #9c9c9c; padding-right: 3px; padding-left: 5px; font-size: 10px; vertical-align: middle;}
                &:first-child{
                  &:before{padding-left: 0;}
                }
                &:hover{
                  .popup_content{visibility: visible;}
                }
                .popup_content{ visibility: hidden; position: absolute; background: #fff; z-index: 99; left: 0; width: 51%; border-bottom: 5px solid #000; margin-top: 12px;
                  &:before{right: auto; top: -21px; border: 12px solid; border-color: transparent transparent #ffffff transparent; z-index: 99; border-bottom-style: solid; content: ''; display: block; height: 0; position: absolute; width: 0; }
                  &.content1:before{right: 60%;}
                  &.content2:before{right: 72%}
                  .content_left{float: left; width: 50%; padding: 20px 20px 0 20px;
                    h6{font-family: 'Gotham-Bold'; font-size: 13px;  line-height: 19px; letter-spacing: 0.1em; color: #000; text-transform: uppercase;  margin-top: 10px; font-weight: normal;}
                    ul{
                      li{float: left; width: 100%;
                        a{text-transform: inherit; width: 100%; display: inline-block;
                          &:hover{color: #000; text-decoration: underline;
                            &:after{color: #000; }
                          }
                          &:after{content: '\f105'; font-family: FontAwesome; font-size: 15px; color: #999999; float: right; display: inline-block; vertical-align: middle;}
                        }
                        &:before{display: none;}
                      }
                    }
                  }
                  .content_right{float: right; width: 50%;  padding: 20px;  border-left: 1px solid #9c9c9c;
                    .content{padding-left: 10px;
                      h6{font-family: 'Gotham-Bold'; font-size: 13px;  line-height: 19px; letter-spacing: 0.1em; color: #000; text-transform: uppercase;  margin-top: 10px; font-weight: normal;}

                      span{display: block; color: #9c9c9c; line-height: 25px; font-size: 11px;}
                      a{color: #000; display: block; line-height: 25px; text-transform: inherit; font-size: 11px;
                        &:hover{color: #999999;
                          i{color: #000;}

                        }
                        i{color: #999999;
                          &:hover{color: #000;}
                        }
                        .fa-mobile{font-size: 20px;}
                        &.email{text-decoration: underline;}
                        span{display: inline-block; font-style: italic;}
                      }
                    }
                  }
                  &.content2{width: 100%;
                    ul{width: 100%; display: inline-block; vertical-align: middle;
                      li{width: 25%;float:  left; padding: 20px; border-right: 1px solid #dadada; height: 161px;
                        &:before{display: none;}
                        .shop_content{width: 85%; float: right;
                          h6{margin-top: 10px; font-weight: normal;
                            a{color: #000;font-size: 13px; line-height: 19px; letter-spacing: 0.1em;text-transform: uppercase;font-family: 'Gotham-Bold';
                              &:hover{color: #999999;}
                            }
                          }
                          p{font-family: 'Gotham-Book'; font-size: 13px; line-height: 19px; color: #999999;}
                        }
                        &:last-child{border: none;}
                      }
                    }
                  }
                }
              }
            }
          }
          .header_center{width: 28%;  display: inline-block; text-align: center; padding-top: 16px;
            .logo{margin: 0; width: 100%; float: none; display: inherit;}
          }
          .header_right{width: 30.5%; float: right; padding-top: 13px; text-align: right;
            .account_link{display: inline-block; margin-top: 11px;
              ul{
                li{float: left; margin: 0;
                  &:hover{
                    .login_popoup{visibility: visible;}
                  }
                  .myaccount{color: #999999; text-transform: uppercase; font-size: 11px; letter-spacing: inherit; cursor: pointer;
                    &:hover{text-decoration: none; color: #fff;}
                    &.active{color: #fff;}
                    .accounticon{display: none;}
                    &.fixed-account{
                      .accounticon{display: block; position: fixed; z-index: 99; top:25px; margin-left: -20px;}
                    }
                  }
                  a{color: #999999; text-transform: uppercase; font-size: 11px; letter-spacing: inherit; cursor: pointer;
                    &:hover{text-decoration: none; color: #fff;}
                    &.active{color: #fff;}
                  }
                  .login_popoup { visibility: hidden; position: absolute;  background: #fff;  z-index: 99;  margin-top: 12px;  width: 23%;  float: none;  right: 0; text-align: left; border-bottom: 5px solid #000;
                    &.fixed-login_popoup{position: fixed; right: 240px; width: 310px; top:45px;}
                    &:before{right: 130px; top: -21px; border: 12px solid; border-color: transparent transparent #ffffff transparent; z-index: 99; border-bottom-style: solid; content: ''; display: block; height: 0; position: absolute; width: 0; }
                    .login_page{padding: 20px 30px;
                      .login_link{
                        h6{margin: 10px 0; text-transform: uppercase; font-family: 'Gotham-Bold'; font-size: 13px; line-height: 19px; letter-spacing: 0.1em; font-weight: normal;}
                        .social_icon{
                          .actions-toolbar {
                            &.social-btn{width: 45px; margin-right: 5px;
                              .btn-social{margin-right: 3px; padding: 0; width: 45px;  background: none; border: 1px solid #DDDDDD; border-radius: 0; color: #000;
                                &:hover{
                                  .fa{color: #fff;
                                    &.fa-facebook{background-color: #2d4373;}
                                    &.fa-google{background-color: #dd4b39; }
                                    &.fa-twitter{background-color: #55acee; }
                                    &.fa-amazon{background-color: #ff9900; }
                                    &.fa-linkedin{background-color: #007bb6; }
                                    &.fa-yahoo{background-color: #720e9e; }
                                    &.fa-foursquare{background-color: #f94877; }
                                    &.fa-vk{background-color: #587ea3; }
                                    &.fa-instagram{background-color: #3f729b; }
                                    &.fa-github{background-color: #444; }
                                  }
                                }
                              }
                              .btn-social > :first-child{width: 43px; border-right: none; position: relative; height:43px; padding: 5px;}
                            }
                          }
                        }
                      }
                      .block-customer-login{ margin-top: 27px; margin-bottom: 0;
                        .block-title{margin: 10px 0; text-transform: uppercase; font-family: 'Gotham-Bold'; font-size: 13px; line-height: 19px; letter-spacing: 0.1em;}
                        .block-content{
                          .form-login{
                            .fieldset {
                              &.login{
                                .field{margin-bottom: 10px;
                                  .control{width: 100%;
                                    input[type="email"], input[type="password"]{ height:50px; padding: 0 15px;}
                                  }
                                }
                                .secondary{text-align: right; float: right; width: 50%;
                                  a{text-transform: inherit; text-decoration: underline; font-size: 12px;
                                    &:hover{color: #000;}
                                  }
                                }
                                .remember{margin-top: -5px;  color: #262626; float: left; width: 50%;
                                  input[type="checkbox"]{display: none;}
                                  input[type="checkbox"] ~ .label{width: 100%; display: inline-block;
                                    &:before{content: ''; display: inline-block; vertical-align: middle;  width: 15px; height: 15px; margin-right: 10px; float: left; border: 1px solid #DDDDDD;
                                    }
                                  }
                                  span{line-height: 18px; display: inline-block; vertical-align: top; font-family: 'Gotham-Book'; font-size: 12px; }
                                  input[type="checkbox"]:checked ~ .label:before{content: '\f00c'; font-family: FontAwesome; line-height: 14px; font-size: 25px; }
                                }
                                .actions-toolbar{margin-top: 21px;
                                  .primary{width: 100%;
                                    .action{width: 100%;  height: 50px; background-color: #000; color: #fff; text-transform: uppercase; border-color: #000; border-radius: 0;
                                      span{letter-spacing: 0.1em; font-family:'Gotham-Bold'; font-weight: normal;}
                                      &:hover{background-color: #fff; color: #000;}
                                    }
                                  }
                                  .new_account{width: 100%;
                                    .account_link{border: 1px solid #000; padding: 15px 0; width: 100%; text-align: center; font-size: 11px; text-transform: uppercase; color: #000; font-family:'SackersGothicStd-Heavy';
                                      &:hover{background-color: #000; color: #fff; }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                    &.customer_account{width: 21%;
                      &.fixed-login_popoup{position: fixed; right: 240px; width: 310px; top:45px;}
                      .login_popup_content{border-bottom: 1px solid #DDDDDD; padding:20px;
                        .login_content{color: #262626; text-transform: uppercase; font-size: 11px; font-family: 'Gotham-Bold'; letter-spacing: 0.1em;
                          span{color: #d61b52;}
                        }
                        .account_link{
                          ul{
                            li{float: left; width: 100%;
                              a{text-transform: inherit; font-size: 12px; width: 100%; display: inline-block;
                                &:after{content: '\f105'; font-family: FontAwesome; float: right;}
                              }
                              &:after{display: none;}
                              &:hover{
                                a{
                                  color: #000;
                                  &:after{color: #000;}
                                }
                              }
                            }
                          }
                        }
                      }
                      .login_bootom{ padding: 20px 20px 30px;
                        h6{font-family: 'Gotham-Bold'; font-size: 13px;  line-height: 19px; letter-spacing: 0.1em; color: #000; text-transform: uppercase;  margin-top: 10px; margin-bottom: 10px; font-weight: normal;}
                        span{font-family: 'Gotham-Book'; font-size: 12px; color: #999999; }
                        p{font-size: 12px; margin-top: 10px; margin-bottom: 0; color: #262626; font-family: 'Gotham-Bold'; font-weight: normal;
                          &:before{content: '-'; margin-right: 5px; }
                        }
                      }
                    }
                  }
                  /*.login_popoup{width: 50%;
                    &.fixed-login_popoup{position: fixed; right: 240px; width: 36%; top:45px;}
                    .login_page{width: 50%; float: left;}
                    .create_newaccount_page{width: 50%; float: right; padding: 20px; border-left: 1px solid #DDDDDD;
                      h6{margin: 10px 0; text-transform: uppercase; font-family: 'Gotham-Bold'; font-size: 13px; line-height: 19px; letter-spacing: 0.1em; font-weight: normal;}
                      p{font-size: 12px; font-family: 'Gotham-Book';}
                      .new_account{width: 100%; margin-top: 73px;
                        .account_link{border: 1px solid #000; padding: 15px 0; width: 100%; text-align: center; font-size: 11px; text-transform: uppercase; color: #000; font-family:'SackersGothicStd-Heavy';
                          &:hover{background-color: #000; color: #fff; }
                        }
                      }
                    }
                  }*/
                  &:after{content: '|'; color: #9c9c9c; padding-right: 5px; padding-left: 5px; font-size: 10px; vertical-align: middle;}
                }
              }
            }
            .minicart-wrapper{ margin-left: 0; margin-top: 4px; text-align: left;
              &.fixed-minicart{position: fixed; z-index: 99; margin-top: -6px; margin-left: -57px;
                .action {
                  &.showcart{
                    .text{display: none;}
                  }
                }
              }
              .action {
                &.showcart{text-align: left;
                  &:before{content: ""; background: url("../images/carticon.png") no-repeat !important ; width: 20px; height: 20px; margin-top: 6px; float: right;}
                  .text{width: 55px; height: 20px; float: left; color: #999999; position: static; margin-top: 10px; font-size: 11px; text-transform: uppercase; display: inline-block;
                    &:hover{color: #fff;}
                  }
                  .counter{
                    &.qty{display: inline-block; margin-right: -28px; margin-top: -3px; background: #d61b52; border-radius: 100%; min-width: 18px; height: 18px; line-height: 18px; float: right;}
                  }
                }
              }
            }
          }
        }
        .header_bottom{position: absolute; right:0; margin-top: 8px; z-index: 4;
          .search_icon{background: #d61b52; height: 58px; width: 157px; color: #fff; text-align: center; cursor: pointer; float: right;
            .search_click{
              &:after{content: '\f002'; font-family: FontAwesome; margin-left: 42px; font-size: 12px; line-height: 12px; margin-right: -2px; display: inline-block;}
            }
            img{display: none;}
            &.fixed-search{
              img{display: block; position: fixed; top:25px;}
            }
            &.active{
              .search_click{
                &:after{content: '\f00d'; font-family: FontAwesome; margin-left: 44px; margin-right: -2px;}
              }
            }
            span{display: inline-block; padding: 20px 0; font-size: 12px;text-transform: uppercase; letter-spacing: 0.2em; font-family: 'Gotham-Book';}
          }
        }
      }
    }
    .search_conetnt{ margin: 0;  position: absolute; z-index: 3;  width: 100%;  left: 0; display: none;
      &.fixed-search_conetnt{position: fixed; top:0;}
      .block {
        &.block-search{width: 100%; margin-top: 56px; padding-left: 0;
          .block {
            &.block-content{
              .form {
                &.minisearch{
                  .field {
                    &.search{
                      .control{
                        .input-text{height: 59px; padding: 0 15%;  font-size: 25px;}
                        .nested{display: none;}
                      }
                    }
                  }
                  .actions{ display: none;}
                }
              }
            }
          }
        }
      }
    }
  }
  .page-footer{
    .serch_block{  width: 100%; background-color: #131313; padding: 76px 0 50px; display: inline-block; color: #fff; vertical-align: middle;
      .search-title{float: left; width: 48%; text-align: right; margin: 0; font-family: 'miller_displayregular'; font-size: 30px; padding: 20px 14px 20px 0;
        strong{font-weight: normal;}
      }
      .block {
        &.block-search{float: left; max-width: 50%; width: 315px; z-index: 0;
          .block {
            &.block-content{
              .form {
                &.minisearch{
                  .field {
                    &.search{
                      .control{
                        input[type="text"]{height: 78px; background-color: #d61b52; border: 0; color: #fff; text-transform: uppercase; padding: 0 40px; .placeholder(@color:#fff); letter-spacing: 0.2em;}
                      }
                    }
                  }
                  .actions{
                    .action {
                      &.search{padding: 28px 16px; z-index: 0;
                        &:before{color: #fff; right: 10px;font-size: 30px;}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer {
      &.content{max-width: 100%; border: none; padding: 0; margin-top: 0;
        .footer_text_content{max-width: 1280px; margin-left: auto; margin-right: auto;}
        .footer_logo{text-align: center; padding-top: 187px; padding-bottom: 110px; display: none;}
        .footer_top{background-color: #f6f6f6; width: 100%; display: inline-block; border-bottom: 1px solid #dadada; vertical-align: middle;
          ul{
            li{float: left; width:24.9%; text-align: center; border-right: 1px solid #dadada; padding: 33px 0 42px;
              &:hover{opacity: 0.5;}
              &:last-child{border-right: none;}
              a{color: #262626;
                span{width: 100%; display: inline-block; text-transform: uppercase; letter-spacing: 0.2em; font-size: 11px; font-family: 'Gotham-Bold';  }
                &:hover{  color: #929292;}
              }
            }
          }
        }
      }
    }
    .footer_top_center{width: 100%; display: inline-block;
      .footer_text_content{padding: 63px 0 67px;
        ul{text-align: center;
          &.link{margin-bottom: 38px;}
          li{text-align: center; display: inline-block; margin-right: 36px;
            a{color: #262626; font-size: 11px; text-transform: uppercase; font-family: 'Gotham-Book';
              &:hover{color: #929292;}
            }
          }
        }
      }
    }
    .footer_top_bootom{ border-width: 1px 0; border-style: solid; border-color: #dadada; display: inline-block; width: 100%;
      .footer_top_left{float: left; width: 49.9%; padding: 63px 0 46px; border-right: 1px solid #dadada;
        .block {
          &.newsletter{float: none; width: 100%; margin: 0;
            .title{display: block;
              strong{font-size: 11px; text-transform: uppercase; letter-spacing: 2px; margin: 0; display: inline-block;  padding-bottom: 18px;}

            }
            .content{width: 90%;
              .form {
                &.subscribe{
                  .field {
                    &.newsletter{margin-right: 0;
                      .control{
                        &:before{ display: none;}
                        input[type="email"]{height: 50px;}
                      }
                    }
                  }
                  .actions{
                    .action {
                      &.primary{padding: 16px 29px; border-radius: 0; background-color: #000; border-color: #000; text-transform: uppercase;
                        &:hover{background-color: #333333;}
                      }
                    }
                  }
                }
              }
            }
            .subscribe_chackbox{margin-top:19px;
              input[type="checkbox"]{display: none;}
              input[type="checkbox"] ~ .label{display: inline-block; width: auto; height: auto; clip: inherit;
                &:before{content: ''; display: inline-block; vertical-align: middle; width: 15px; height: 15px; margin-right: 10px; float: left; border: 1px solid #DDDDDD;}
              }
              span{color: #999999; font-size: 12px; line-height: 15px; display: inline-block; vertical-align: top;}
              input[type="checkbox"]:checked ~ .label:before{content: '\f00c'; font-family: FontAwesome; line-height: 14px; font-size: 25px; }
            }
          }
        }
      }
      .footer_top_right{float: right;    width: 50%;
        .footer_content_right{padding: 67px 30px ;
          p{font-size: 11px; text-transform: uppercase; letter-spacing: 1px; font-family: 'Gotham-Bold'; margin-bottom: 24px;   }
          strong{ margin-bottom: 28px; display: inline-block;
            img{vertical-align: middle; margin-right: 10px;}
            span{ font-size: 11px; font-weight: normal; color: #262626; margin-right: 15px;
              a{color: #262626; text-decoration: underline; font-family: 'Gotham-Book';
                &:hover{  color: #929292;}
              }
              span{color: #999999;font-family: 'Gotham-Book'; }
            }
          }
          ul{
            li{float: left; margin-right: 20px;
              a{color: #000;
                i{font-size: 27px;
                  &:hover{
                    &.fa-facebook{color: #3b5998;}
                    &.fa-twitter{color: #00aced;}
                    &.fa-pinterest{color: #cb2027;}
                    &.fa-youtube-play{color: #bb0000;}
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer_bottom_top{ display: inline-block; width: 100%; vertical-align: middle; padding: 25px 0; margin-bottom: 38px;
      .copyright{float:left; margin: 0;}
      .footer {
        &.link{float: right; vertical-align: middle;
          ul{
            li{float: left; margin-left: 50px; font-family: 'Gotham-Book';
              a{color: #262626; font-size: 11px; text-transform: uppercase;
                &:hover{color: #929292;}
              }
            }
          }
        }
      }
    }
    .footer_bottom{background-color: #d61b52; display:block; width: 100%; padding: 3px 0; position: fixed; bottom: 0;
      .footer_content_left{float: left; padding: 0;
        select{background: none; border: none; color: #fff; font-family: 'Gotham-Book'; font-size: 11px; text-transform: uppercase; -webkit-appearance: none; background: url("../images/bottom.png")  no-repeat right;
          option{color: #000;}
        }
      }
      .footer_content_right {  float: right; padding-top: 10px;
        ul{
          li{ float: left; margin-left: 25px; margin-bottom: 0; letter-spacing: 0.2em; text-transform: uppercase; font-size: 11px;    font-family: 'Gotham-Book';
            a{color: #fff;}
          }
        }
      }
    }
  }
}









/*bhavinn*/

//------------------------------------ slider -----------------------------------------------------------

.cms-index-index{
  #maincontent.page-main{ width: 100%; max-width: 100%; padding-left: 0px;padding-right: 0px; margin: auto; margin-top: 0px;
    .slider-wrapper{ width: 100%; clear: both; overflow: hidden;
      .homepage_slider{ width: 100%; clear: both; overflow: hidden; margin: 0px; padding: 0px;
        .slick-prev{left:0; z-index: 99;
          &:before{content:''; background: url('../images/Prev.png') no-repeat; height: 21px; width: 33px; position: absolute;  z-index:10; left:126px;}
        }
        .slick-next{right:0; z-index: 99;
          &:before{content:''; background: url('../images/next.png')no-repeat; height: 21px; width: 33px; position: absolute;  z-index:10; right:126px;}
        }
        .slick-arrow{height:0; width:0; border:0; outline: 0;}
        li{ width: 100%; margin: 0px; padding: 0px; list-style-type: none; position: relative;
          img{ width: 100%;}
          .above_banner{position: absolute; left: 50%; transform: translate(-50%, -50%);  top: 61%; text-align: center;
            h6{ font-weight: normal; margin: 0px; padding: 0px; clear: both; color: #fff; line-height: normal; font-size: 13px; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 17px;  font-family: 'Gotham-Book'; }
            h1{font-weight: normal; margin: 0px; padding: 0px; clear: both; color: #fff; font-size: 55px; text-transform: uppercase; margin-bottom: 35px; line-height: 45pt;   font-family: 'MillerDisplay-RomanBETA';}
            a{ background: #000000; clear:both; margin: 0px; padding: 18px 40px; color: #fff; text-transform: uppercase; font-weight: 600; text-decoration: none; font-family: 'Gotham-Book'; font-size: 13px;
              &:hover{background: #333333;}
            }
          }
        }
      }
      .home_slider_bottom{ width: 100%; background: #222; color:#fff; text-align: center;
        .slider-nav{ max-width: 1200px; width: 100%; margin: auto; clear: both; padding-top: 10px; margin-top: -10px;overflow: hidden;
          li{ width: 100%; margin: 0px; padding: 16px 0; list-style-type: none; border-right:1px solid #3f3f3f; cursor: pointer;
            h5{ font-weight: 600;margin: 0px; padding: 0px; clear: both; color: #4a4a4a; line-height: normal; font-size: 12px; text-transform: uppercase; margin-bottom: 3px;  font-family: 'Gotham-Book';}
            p{;margin: 0px; padding: 0px; clear: both; color: #808080; line-height: normal; font-size: 13px; text-transform: uppercase; letter-spacing: 0.2em; font-weight:normal; text-decoration: none;  font-family: 'Gotham-Book'; font-weight:600;}
            &:hover{background: #d61b52;
              h5{color:#fff;}
              p{color:#fff;}
            }
            &:last-child{border-right:0;}
          }
          .slick-current{background: #d61b52; margin-top: -10px; border-bottom:5px solid #d61b52; border-top:5px solid #d61b52; border-right:1px transparent solid;
            h5{color:#fff;}
            p{color:#fff;}
          }
          .slick-list{ overflow: visible !important;}
        }
      }
      .slider-progress{background: #fff;}
    }
  }
  //---------------------------------------slider over -----------------------------------------------------

  //---------------------------------------home page content -----------------------------------------------------
  .page-wrapper{
    .page-main{width:100%; max-width:100%;
      .columns{
        .column.main{padding-bottom: 150px;
          .topproduct{margin:auto; padding:0; width:100%; max-width:1280px; position: relative; z-index: 1;
            .title{ padding-top: 40px; margin:0; text-align: center; position: relative;
              ul{margin:0; padding:0; text-decoration: none;
                li{display: inline-block; margin:0 20px; font-size:18px; text-transform: uppercase; cursor: pointer;
                  h3{color:#000; font-size:26px; letter-spacing: 0.05em; line-height: 32px; font-family: 'MillerDisplay-Light'; margin-bottom:0;
                    &:hover{color:#929292;}
                  }
                }
                .active{border-bottom: 1px solid #000;}
              }
            }
            .products-grid{text-align: center;
              .slider_navigation{
                .left_button{position: absolute; z-index: 10; left: 0; top: 43.6%;
                  img{cursor: pointer;}
                }
                .right_button{position: absolute; z-index: 10; right: 0; top: 43.6%;
                  img{cursor: pointer;}
                }
              }
              .product-items{overflow: hidden; position: relative; margin:0;
                .product-item{width:100%;margin:0; padding:0;
                  .product-item-info{width:100%; max-width:100%;
                    .product-item-details{text-align: center; width:100%; max-width: 80%; margin: auto; overflow: hidden;
                      .swatch-attribute{
                        .owl-controls{
                          .owl-buttons{
                            .owl-prev{ margin-left: -11px; position:absolute; left:0;}
                            .owl-next{position: absolute; right: -3px;}
                          }
                        }
                        .owl-wrapper-outer{
                          .owl-wrapper{
                            .owl-item{}
                          }
                        }
                      }
                      .product-item-name{margin:0 auto; margin-top: 7px; width:80%; height:41px; overflow: hidden;
                        a{ font-family: 'Gotham-Bold'; font-size: 13px; letter-spacing: 3px; text-transform: uppercase; color:#000;}
                      }
                      .description{width:80%; margin: auto; height:30px; overflow: hidden; margin-top: 12px; margin-bottom: 20px;
                        p{font-family: 'Gotham-Book'; font-size:13px; color:#999999; margin:0;}
                      }
                      .product-reviews-summary{float:left; margin:0; width:50%; border-right:1px solid #dadada;
                        .rating-summary{font-size: 13px; vertical-align: middle; left:0; text-align: inherit; display: block; margin-left: 20px;
                          .rating-result{ float: left;
                            &:before{letter-spacing: -6px; font-size: 23px; line-height: 42px; margin-left: 1px;}
                            span::before{margin-left: 7px; color:#000; letter-spacing: -6px; font-size: 23px; line-height: 42px;}
                          }
                          .count{float: left; margin-top: 11px;}
                        }
                      }
                      .add_review{color:#000; font-family: 'Gotham-Book'; font-size:13px; display: inline-block; padding-top: 12px; width:50%; border-right:1px solid #dadada;}
                      .price_box{display: block; float: right; width:50%; line-height: 3;
                        span{display: inline-block; font-family: 'Gotham-Book'; font-size: 13px;}
                        .price-box{display: inline-block; margin:0;
                          .price{ font-size:13px; color:#000;  font-family: 'Gotham-Bold'; font-weight: normal;}
                        }
                      }
                    }
                    .view_button{position: absolute; z-index: 10; top: 27%; text-align: center; left: 30%; display: none;
                      .quick{display:block; color:#fff; background: #000; padding:16px 42px; margin-bottom: 20px; text-transform: uppercase; font-size:13px; text-decoration: none; font-family: 'Gotham-Book'; font-weight: 600;}
                      .discover{display:block; color:#000; background: #fff; border:1px solid #000; padding:15px 42px; text-transform: uppercase; font-size:13px; text-decoration: none; font-family: 'Gotham-Book';}
                    }
                    .details{
                      .color{border-radius: 50%; text-align: center; display: inline-block;
                        .swatch-option{min-width: 24px; height:24px; border:2px solid #fff; margin:0;
                          &:hover{border:2px solid #000; outline: none;}
                        }
                        .selected{border:2px solid #000; border-radius: 50%; outline:none; }
                      }
                    }
                  }
                  &:hover .view_button{display: block; }
                  &:hover .product-image-photo{ opacity: 0.5;}
                }
              }
            }
          }

          .block-new-products{text-align: center;
            .block-content{
              .products-grid{
              }
            }
          }
        }
        .exclusive_pro{width:100%; max-width: 1280px; margin: auto;
          .title{text-align: center; padding-bottom: 61px; padding-top: 132px;
            h1{margin:0; padding:0; width:auto; text-transform: uppercase;  font-family: 'MillerDisplay-Light'; font-size: 31px; letter-spacing: 0.2em; display: inline-block;}
            .right_link{float:right; color:#000; text-transform: uppercase; font-size:12px; text-decoration: underline; font-weight: normal; letter-spacing: 0.2em; vertical-align: middle; margin-top: -27px; font-family: 'Gotham-Book';
              &:hover{color:#929292;}
            }
          }
          .exclusive_product{
            .items{margin:0; width:100%; max-width:100%; text-align: center; padding: 0 -20px; display: inline-block;
              li{width:33.33%; display: inline-block; box-sizing: border-box; padding: 0 11px; float: left;
                a{
                  img{width:407px; height: 570px;}
                }
                &:first-child{padding-left:0;}
                &:last-child{padding-right:0;}
                p{margin-top: 40px; text-transform: uppercase; color:#000; font-family: 'Gotham-Book'; margin-bottom: 0; letter-spacing: 0.2em; font-size:13px;
                  a{color:#000; text-decoration: none;}
                }
                h2{margin-top: 11px; text-transform: uppercase; font-size:31px; font-family: 'MillerDisplay-Light'; margin-bottom: 20px;
                  a{color:#000; text-decoration: none;}
                }
                h5{font-size:14px; font-family: 'Gotham-Book'; color:#868686; font-weight: normal; height:15px;}
                .pro_button{background: #000; color:#fff; text-decoration: none; text-transform: uppercase; font-family: 'Gotham-Book'; font-size: 13px; padding:17px 29px; display: inline-block; margin-top: 10px; font-weight: bold;
                  &:hover{background: #d61b52;}
                }
              }
            }
          }
        }
        .banner_block{position: relative; width:100%;
          .banner{margin-top: 75px;
            a{
              img{width:100%;}
            }
          }
          .banner_description{position: absolute; top:37%; z-index: 1; left: 24%; transform: translate(-50%, -50%);
            h1{ font-family: 'MillerDisplay-Light'; font-size:40px; text-transform: uppercase; letter-spacing: 6px; margin-bottom: 30px;
              a{color:#000; text-decoration: none;}
            }
            h6{color:#000; margin:0; text-transform: uppercase; font-size: 13px; letter-spacing: 2px; font-weight:normal; font-family: 'Gotham-Bold'; margin-bottom: 12px;}
            p{margin-top: 0px; font-family: 'Gotham-Book'; font-size:12px; margin-bottom: 4px; font-size: 13px;}
            .banner_button{color:#fff; background: #000; font-size:12px; font-family: 'Gotham-Book'; font-weight:normal; padding:14px 30px; text-transform: uppercase; display: inline-block; margin-top: 30px; text-decoration: none;
              &:hover{background: #d61b52;}
            }
          }
        }
        .inspire_block{overflow: hidden; width:100%; max-width: 1280px; margin: auto;
          .title{text-align: center;
            h1{margin-top: 45px; margin-bottom: 34px; font-size: 31px;  font-family: 'MillerDisplay-Light'; letter-spacing: 0.2em; text-transform: uppercase; color:#000;}
          }
          .sub_title{margin-bottom: 62px;
            p{display: inline-block; text-transform: uppercase; font-family: 'Gotham-Bold'; letter-spacing: 0.5em; font-size: 13px; color:#000; margin:0;}
            img{margin-left: 10px; display: inline-block; vertical-align: middle;}
          }
          .inspire_details{
            .left_link{width:21%; float: left;
              h2{font-family: 'MillerDisplay-Light'; font-size: 32px; font-weight:normal; margin-top: 0; margin-bottom: 38px;}
              ul{margin:0; padding:0; list-style: none;
                li{text-transform: uppercase; font-family: 'Gotham-Book'; color:#000; letter-spacing: 0.2em; font-size: 13px;  margin-bottom: 12px; padding:7px 10px 4px 10px; cursor: pointer;
                  &:hover{color:#929292;}
                  a{color:#000; text-decoration: underline;}
                }
                .active{background: #000;
                  span{
                    a{color:#fff; text-decoration: none;}
                  }
                }
              }
            }
            #parisiennes{
              .tabb{ display: none;
                &.active{ display: block;}
              }
            }
            .right_content{float: right; width:75%;
              ul{margin:0; padding:0; list-style: none; width:100%;
                li{display: inline-block; width:33.33%; padding:0 14px; box-sizing: border-box; float: left;
                  a{
                    img{height:297px; width:297px;}
                  }
                  h1{font-family: 'MillerDisplay-Light'; font-size: 28px; text-transform: capitalize; font-weight: normal; margin-top: 21px; margin-bottom: 19px;
                    a{color:#000; text-decoration: none;}
                  }
                  p{color:#9c9c9c; margin:0; font-family: 'Gotham-Book'; font-size:13px;
                    &:hover{color:#000;}
                  }
                  a{color:#000; display: block; margin-top: 2px;}
                  .read_more{color:#000; margin-top: 8px; font-family: 'Gotham-Book'; display: inline-block; font-size: 14px;}
                  &:last-child{padding-right: 0;}
                }
              }
            }
          }
        }
        .insta_block{overflow: hidden; width:100%; max-width: 1280px; margin: auto;
          .insta_title{text-align: center; padding-top: 106px; padding-bottom: 69px;
            h1{margin:0; padding:0; width:auto; text-transform: uppercase;  font-family: 'MillerDisplay-Light'; font-size: 31px; letter-spacing: 0.2em; display: inline-block;}
            .right_link{float:right; color:#000; text-transform: uppercase; font-size:13px; text-decoration: underline; font-weight: normal; letter-spacing: 0.2em; margin-top: -27px; font-family: 'Gotham-Book';
              &:hover{color:#929292;}
            }
          }
          .insta_content{overflow: hidden; width:100%; position: relative;
            ul{margin:0; padding:0; overflow: hidden;
              .slick-prev{left:0; z-index: 99;
                &:before{content:''; background: url('../images/Prev.png') no-repeat; height: 21px; width: 33px; position: absolute;  z-index:10; left:20px;}
              }
              .slick-next{right:0; z-index: 99;
                &:before{content:''; background: url('../images/next.png')no-repeat; height: 21px; width: 33px; position: absolute;  z-index:10; right:20px;}
              }
              .slick-arrow{height:0; width:0; border:0; outline: 0;}
              li{list-style-type: none; display: inline-block; float: left; box-sizing: border-box; margin:0; position: relative; margin:0px 15px;
                .back_img{display: block; -moz-transition: all 0.3s; width: 100%;
                  -webkit-transition: all 0.3s;
                  transition: all 0.3s;
                  &:hover{background:rgba(000,000,000,0.5);}
                  img{width:100%; max-width:100%; }
                }
                .insta_wish{position: absolute; top: 50%; z-index: 10; left:50%; display: none; transform: translate(-50%, -50%);
                  i{color:#fff; padding:0 5px; font-size:16px; vertical-align: middle;
                    span{font-family: 'Gotham-Book'; font-size: 13px; vertical-align: middle; margin-left: 5px; font-weight: bold;}
                  }
                }
                &:hover .insta_wish{display: block;}
                &:hover img{opacity: 0.5;}
                &.instasmall{
                  .back_img{
                    margin-top:22%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}




/*vipul*/
.nav-sections{ margin-bottom: 0px;}
#parisiennes{
  .tabb{ display: none;
    &.active{ display: block;}
  }
}
.navigation ul.container > li{ padding: 19px 0px !important;}
.product-item-details .color .swatch-attribute-options{ width: 150px;}
.navigation ul.container > .level0.mega-menu-item > a::after{ bottom: -22px;}
