
.text-align-left{
	text-align: left;
}
.text-align-right{
	text-align: right;
}
.page-content{
	.left-sidebar{
		margin-top: 50px;
		.title-sidebar{
			text-transform: uppercase;
			letter-spacing: 1.6px;
			font-size: 18px;
			font-weight: bold;
		}
		ul{
			padding-bottom: 50px;
			margin-top: 20px;
			li{
				a{
					padding: 10px 15px 10px 0px;
					color: #9d9d9d;
					transition: all 0.3s ease;
					&:hover{
						background-color: transparent;
						color: #333;
					}
				}
			}
		}
		.nav-other-type{
			li{
				text-transform: uppercase;
				padding: 10px 15px 10px 0px;
				a{
					padding: 0;
					display: table;
					border-bottom: 1px solid #9d9d9d;
				}
			}
		}
	}

	.items{
		.list-images-items{
			position: relative;
			width: 100%;
    		height: 300px;
			img{
				position: absolute;
				top: 0;
				left:0;
				z-index: 10;
				transition: all 0.3s ease;
				width: 100%;
    			height: 256px;
				&.active{
					z-index: 20;
				}
			}
		}
		.switch{
			padding: 0 0 20px;
			position: absolute;
			bottom: 0px;
			left: 50%;
			ul{
				display: flex;
				li{
					width: 50%; 					
					flex: 1;
					text-align: right; 
					position: relative;
					a{
						width: 20px;
						height: 20px;
						background-color: #393276;
						border-radius: 50%;
						padding: 0px;
						position: absolute;
						transition: all 0.3s ease;
						transform: scale(0.8);
					}	
					&.active{
						a{
							background-color: #000;
							transform: scale(1);
						}
					}		
				}
				li:nth-child(1){
					a{
						right: 5px;
					}
				}
				li:nth-child(2){
					a{
						left: 5px;
					}
				}
			}
		}
	}
}


@media (max-width: 767px) {

	.page-content{
		.items{
			.list-images-items{
				img{
					width: 240px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}  

}	