<?php

/**
** Auth:  hoatammus-magento team June 20, 2017
**/

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$reviewFactory = $objectManager->create('Magento\Review\Model\Review');
$storeId = $storeManager->getStore()->getId();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$productId = $this->getData("product_ids");
?>
<div class="minicart-also-like">
    <div class="also-like-title">
          <?php echo __('May You Also Like')?>
    </div>
    <div class="also-like-product-items">
        <?php 
            $product = $objectManager->create('Magento\Catalog\Model\Product')->load(2);
        ?>
        <div class="also-like-item">
            <div class="product-item-image">
                <a href="<?php echo  $product->getProductUrl();?>">
                    <img src="<?php $imagewidth=200;
                                $imageheight=200;
                                $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                                $image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
                                echo $image_url?>"
                    />
                </a>
            </div>
            <div class="product-item-info">
				<div class="product-item-name">
					<p><?php echo $product->getName(); ?></p>
				</div>
				<div class="product-item-description">
					<span>
						<?php 
							echo $product->getShortDescription();
						?>
					</span>
				</div>

				<?php 
					$RatingOb = $objectManager->create('Magento\Review\Model\Rating')->getEntitySummary(2);   
					$ratings = $RatingOb->getSum()/$RatingOb->getCount(); 
				?>
				<div class="product-reviews-summary">
					<div class="rating-summary">
						<span class="label"><span>Rating:</span></span>
						<div class="rating-result">
							<span style="width:<?php echo $ratings; ?>%"><span><span itemprop="ratingValue"><?php echo $ratings; ?></span>% of <span itemprop="bestRating">100</span></span></span>
						</div>
						<?php echo '('.$RatingOb->getCount().')'; ?>
					</div> 
				</div>

				<div class="product-item-price">
					<span><?php echo $abstractProductBlock->getProductPrice($product);?></span>
				</div>
			</div>
        </div>
		
		<div class="also-like-item">
            <div class="product-item-image">
                <a href="<?php echo  $product->getProductUrl();?>">
                    <img src="<?php $imagewidth=200;
                                $imageheight=200;
                                $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                                $image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
                                echo $image_url?>"
                    />
                </a>
            </div>
            <div class="product-item-info">
				<div class="product-item-name">
					<p><?php echo $product->getName(); ?></p>
				</div>
				<div class="product-item-description">
					<span>
						<?php 
							echo $product->getShortDescription();
						?>
					</span>
				</div>

				<?php 
					$RatingOb = $objectManager->create('Magento\Review\Model\Rating')->getEntitySummary(2);   
					$ratings = $RatingOb->getSum()/$RatingOb->getCount(); 
				?>
				<div class="product-reviews-summary">
					<div class="rating-summary">
						<span class="label"><span>Rating:</span></span>
						<div class="rating-result">
							<span style="width:<?php echo $ratings; ?>%"><span><span itemprop="ratingValue"><?php echo $ratings; ?></span>% of <span itemprop="bestRating">100</span></span></span>
						</div>
						<?php echo '('.$RatingOb->getCount().')'; ?>
					</div> 
				</div>

				<div class="product-item-price">
					<span><?php echo $abstractProductBlock->getProductPrice($product);?></span>
				</div>
			</div>
        </div>
		
		<div class="also-like-item">
            <div class="product-item-image">
                <a href="<?php echo  $product->getProductUrl();?>">
                    <img src="<?php $imagewidth=200;
                                $imageheight=200;
                                $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                                $image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
                                echo $image_url?>"
                    />
                </a>
            </div>
            <div class="product-item-info">
				<div class="product-item-name">
					<p><?php echo $product->getName(); ?></p>
				</div>
				<div class="product-item-description">
					<span>
						<?php 
							echo $product->getShortDescription();
						?>
					</span>
				</div>

				<?php 
					$RatingOb = $objectManager->create('Magento\Review\Model\Rating')->getEntitySummary(2);   
					$ratings = $RatingOb->getSum()/$RatingOb->getCount(); 
				?>
				<div class="product-reviews-summary">
					<div class="rating-summary">
						<span class="label"><span>Rating:</span></span>
						<div class="rating-result">
							<span style="width:<?php echo $ratings; ?>%"><span><span itemprop="ratingValue"><?php echo $ratings; ?></span>% of <span itemprop="bestRating">100</span></span></span>
						</div>
						<?php echo '('.$RatingOb->getCount().')'; ?>
					</div> 
				</div>

				<div class="product-item-price">
					<span><?php echo $abstractProductBlock->getProductPrice($product);?></span>
				</div>
			</div>
        </div>
		
		<div class="also-like-item">
            <div class="product-item-image">
                <a href="<?php echo  $product->getProductUrl();?>">
                    <img src="<?php $imagewidth=200;
                                $imageheight=200;
                                $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                                $image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
                                echo $image_url?>"
                    />
                </a>
            </div>
            <div class="product-item-info">
				<div class="product-item-name">
					<p><?php echo $product->getName(); ?></p>
				</div>
				<div class="product-item-description">
					<span>
						<?php 
							echo $product->getShortDescription();
						?>
					</span>
				</div>

				<?php 
					$RatingOb = $objectManager->create('Magento\Review\Model\Rating')->getEntitySummary(2);   
					$ratings = $RatingOb->getSum()/$RatingOb->getCount(); 
				?>
				<div class="product-reviews-summary">
					<div class="rating-summary">
						<span class="label"><span>Rating:</span></span>
						<div class="rating-result">
							<span style="width:<?php echo $ratings; ?>%"><span><span itemprop="ratingValue"><?php echo $ratings; ?></span>% of <span itemprop="bestRating">100</span></span></span>
						</div>
						<?php echo '('.$RatingOb->getCount().')'; ?>
					</div> 
				</div>

				<div class="product-item-price">
					<span><?php echo $abstractProductBlock->getProductPrice($product);?></span>
				</div>
			</div>
        </div>
    </div>
</div>