<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<div class="cart-empty">

	<div class="container_d">
		<div class="breadcrumb"><a href="<?php echo $block->getBaseUrl()?>">Home</a> - <a href="<?php echo $block->getUrl('checkout/cart'); ?>">My bag</a></div>
		<img src="<?php echo $this->getViewFileUrl('images/backto.png');?>" class="backto">
		<a href="<?php echo $block->getBaseUrl()?>" class="backtoshop"><?php echo __('Back to shop');?></a>
		<div class="shoppingcartempty text-center">
			<?php //echo $block->getChildHtml('checkout_cart_empty_widget'); ?>
			<img src="<?php echo $this->getViewFileUrl('images/calque.png');?>">
			
			<p><?php /* @escapeNotVerified */ echo __('Your shopping cart <span>is empty</span>') ?></p>
		</div>
	</div>

	<div class="emptycart-see-our">
		<div class="container_d">
			<div class="see-our-left text-center">
				<h3><?php /* @escapeNotVerified */ echo __('Need inspiration ?') ?></h3>
				<a href="#"><?php /* @escapeNotVerified */ echo __('See our most loved products') ?></a>
			</div>
			<div class="see-our-right text-center">
				<h3><?php /* @escapeNotVerified */ echo __('Want to find the perfect gift?') ?></h3>
				<a href="#"><?php /* @escapeNotVerified */ echo __('See our gifts & sets selection') ?></a>
			</div>
		</div>
	</div>
    <!--<p><?php /* @escapeNotVerified */ //echo __('Click <a href="%1">here</a> to continue shopping.',
            //$block->escapeUrl($block->getContinueShoppingUrl())) ?></p>-->
            <?php //echo $block->getChildHtml('shopping.cart.table.after'); ?>

</div>
