<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<div id="cartpage-service" class="cart-right-col-service">
	<div class="free-service">
		<div class="service-item">
			<h2><?php echo __('Free Standard Delivery')?></h2>
			<span><?php echo __('Enjoy free standard  delivery on any')?><span>
			<span><?php echo __('purchase made at Lancome.com.uk')?></span>
		</div>
		<div class="service-item">
			<h2><?php echo __('Free Deluxe Samples')?></h2>
			<span><?php echo __('Choose free deluxe samples')?></span>
		</div>
	</div>
	<div class="customer-service">
		<div class="service-item">
			<h2><?php echo __('Customer Service')?></h2>
			<span><?php echo __('For any question, please contact us.')?><span>
			<span><?php echo __('1-800-111-1111')?></span>
			<span><?php echo __('support@email.com')?></span>
			<input type="button" name="chat-with-us" id="chat_with_us" value="Chat With Us"/>
		</div>
	</div>
</div>
