#payment_form_one23cash {
    width: 90%;
    padding: 0 0 0 5%;
    border: 0;
    margin-left: 0px !important;
}
#payment_form_one23cash > li {
    overflow: hidden;
}
#payment_form_one23cash > li > .input-box {
    border-bottom: 1px solid #d8d8d8;
    padding-top: 10px;
}
#payment_form_one23cash .hd-123cash {
    padding: 0 10px 0 17px;
    margin: 0 0 20px 0;
}
#payment_form_one23cash > li .hd-123cash.open {
    background: url(../images/option2.png) no-repeat right center;
}
#payment_form_one23cash > li .hd-123cash.close {
    background: url(../images/option.png) no-repeat right center;
}
/*begin 123cash*/
.sp-methods dd:nth-of-type(2){}
.ml-123cash{}
#payment_form_one23cash{width: 90%;padding: 0 5%;border: 1px solid #d8d8d8;border-radius: 6px;float: left; margin-bottom: 20px;}
/* add by KAI*/


.ml-123cash .input-box {clear:both; display:block;overflow:hidden; border-bottom:1px solid #eeeeee;}
.ml-123cash .input-box:last-child {border-bottom:0px;}
.ml-123cash .input-box ul {list-style: none;margin:0;padding:0;/*display:block; overflow:hidden;border:1px dotted #fff;*/}
.ml-123cash .input-box ul li{display:list-item; float:left; width:49%;padding-left: 1%;}
.ml-123cash .input-box ul li label {list-style: none;display: list-item;width: 100%;margin: 0 0 0 5%;float: left;padding-bottom: 5px;background-position: 35px 9px; }
/* end by KAI*/

#payment_form_one23cash input.radio{/*list-style: none;display:list-item;float: left;margin-top: 7px;*/}

#payment_form_one23cash ul li label {
    width: 115px !important;
    height: 40px !important;
    float: left !important;
    background-size: auto 25px !important;
}

label.hd-123cash{
    width: 95% !important;
    float: left;
    margin: 10px 0;
    color: #111111;
    font-size: 14px !important;
    font-weight: normal;
    padding: 2px 10px;
    position: relative;
    font-weight: normal;
}

.seven-eleven-123cash{
    background:url(../images/711_Logo_40.jpg) no-repeat !important;
}

.tot-123cash{
    background:url(../images/JusPay_Logo_40.jpg) no-repeat !important;
}

.tesco-123cash{
    background:url(../images/TescoLotus_logo_40.jpg) no-repeat !important;
}

.truemoney-123cash{
    background:url(../images/Truemoney_Logo_40.jpg) no-repeat !important;
}

.payatpost-123cash{
    background:url(../images/Payatpost_logo_401.jpg) no-repeat !important;
}

.scb-123cash{
    background:url(../images/SCB_Logo_40.jpg) no-repeat !important;
}

.ktb-123cash{
    background:url(../images/KTB_Logo_40.jpg) no-repeat !important;
}

.kbank-123cash{
    background:url(../images/KBank_Logo_40.png) no-repeat !important;
}
.tmb-123cash{
    background:url(../images/TMB_Logo_40.png) no-repeat !important;
}
.uob-123cash{
    background:url(../images/UOB_Logo_40.png) no-repeat !important;
}
.bay-123cash{
    background:url(../images/BAY_Logo_40.jpg) no-repeat !important;
}
.bbl-123cash{
    background:url(../images/bangkokbank_logo_40.png) no-repeat !important;
}

.bigc-123cash{
    background:url(../images/Bigc_logo_401.jpg) no-repeat !important;
}
.cimb-123cash{
    background:url(../images/CIMB_Logo_40.jpg) no-repeat !important;
}
.familymart-123cash{
    background:url(../images/Familymart_Logo_40.jpg) no-repeat !important;
}
.mpay-123cash{
    background:url(../images/Mpay_logo_40.jpg) no-repeat !important;
}
.tbank-123cash{
    background:url(../images/TBANK_Logo_40.jpg) no-repeat !important;
}
/*end 123cash*/