.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.page-content .left-sidebar {
  margin-top: 50px; }
  .page-content .left-sidebar .title-sidebar {
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-size: 18px;
    font-weight: bold; }
  .page-content .left-sidebar ul {
    padding-bottom: 50px;
    margin-top: 20px; }
    .page-content .left-sidebar ul li a {
      padding: 10px 15px 10px 0px;
      color: #9d9d9d;
      transition: all 0.3s ease; }
      .page-content .left-sidebar ul li a:hover {
        background-color: transparent;
        color: #333; }
  .page-content .left-sidebar .nav-other-type li {
    text-transform: uppercase;
    padding: 10px 15px 10px 0px; }
    .page-content .left-sidebar .nav-other-type li a {
      padding: 0;
      display: table;
      border-bottom: 1px solid #9d9d9d; }
.page-content .items .list-images-items {
  position: relative;
  width: 100%;
  height: 300px; }
  .page-content .items .list-images-items img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease;
    width: 100%;
    height: 256px; }
    .page-content .items .list-images-items img.active {
      z-index: 20; }
.page-content .items .switch {
  padding: 0 0 20px;
  position: absolute;
  bottom: 0px;
  left: 50%; }
  .page-content .items .switch ul {
    display: flex; }
    .page-content .items .switch ul li {
      width: 50%;
      flex: 1;
      text-align: right;
      position: relative; }
      .page-content .items .switch ul li a {
        width: 20px;
        height: 20px;
        background-color: #393276;
        border-radius: 50%;
        padding: 0px;
        position: absolute;
        transition: all 0.3s ease;
        transform: scale(0.8); }
      .page-content .items .switch ul li.active a {
        background-color: #000;
        transform: scale(1); }
    .page-content .items .switch ul li:nth-child(1) a {
      right: 5px; }
    .page-content .items .switch ul li:nth-child(2) a {
      left: 5px; }

@media (max-width: 767px) {
  .page-content .items .list-images-items img {
    width: 240px;
    left: 50%;
    transform: translateX(-50%); } }
header .page-head {
  width: 100%; }
header .wrapper {
  background-color: #131313; }
header .top-bar-wrapper {
  display: flex;
  padding-top: 10px;
  height: 60px; }
header .navbar-toggle span {
  background-color: #fff; }
header .top-bar {
  flex: 1; }
  header .top-bar .sub-menu {
    width: auto; }
    header .top-bar .sub-menu li {
      position: relative; }
      header .top-bar .sub-menu li:after {
        content: "|";
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        left: 0;
        color: #777777; }
      header .top-bar .sub-menu li a {
        color: #777777;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 30px;
        transition: all 0.3s ease; }
        header .top-bar .sub-menu li a:hover {
          background-color: transparent;
          color: #fff; }
    header .top-bar .sub-menu .after-nill:after {
      content: ""; }
    header .top-bar .sub-menu .location {
      position: relative;
      padding-left: 12px; }
      header .top-bar .sub-menu .location:before {
        content: "\f041";
        font-family: FontAwesome;
        position: absolute;
        font-size: 12px;
        color: #777777;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease; }
      header .top-bar .sub-menu .location:hover:before {
        color: #fff; }
    header .top-bar .sub-menu .bag {
      padding-right: 15px;
      position: relative;
      color: #fff; }
      header .top-bar .sub-menu .bag i {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%); }
      header .top-bar .sub-menu .bag span {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #d71450;
        top: 12px;
        right: -9px;
        line-height: 15px;
        font-size: 10px;
        color: #fff;
        text-align: center; }
  header .top-bar .lang {
    width: auto;
    margin-right: 8px; }
    header .top-bar .lang li {
      text-transform: uppercase;
      color: #777777;
      margin-right: 6px;
      float: left;
      line-height: 52px;
      font-size: 12px;
      cursor: pointer;
      transition: all 0.3s ease; }
      header .top-bar .lang li:hover {
        color: #fff; }
header .logo {
  flex: 0.3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px; }
  header .logo img {
    width: 140px;
    height: 40px;
    margin-top: 8px; }
header .main-menu .navbar {
  margin-bottom: 0px;
  border: 0px; }
header .main-menu .navbar-collapse {
  padding-right: 0px;
  padding-left: 0px; }
header .navbar-header .nav {
  display: none; }
header .navbar-header .logo {
  display: none; }
header .navbar-header .wrap-input-search {
  display: none; }
header .navbar-main-menu {
  width: auto;
  float: right; }
  header .navbar-main-menu li a {
    color: #777777;
    transition: all 0.3s ease;
    text-transform: uppercase; }
    header .navbar-main-menu li a:hover {
      background-color: transparent;
      color: #fff; }
header .navbar-search {
  margin-left: 60px;
  margin-top: 0px;
  position: relative; }
header .btn-search {
  background-color: #d71450;
  padding: 14px 25px;
  border-radius: 0;
  transition: all 0.3s ease;
  color: #fff; }
  header .btn-search i {
    margin-left: 5px; }
header .wrap-input-search {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 290px;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease; }
  header .wrap-input-search .input-search {
    width: 250px;
    height: 40px;
    border: 0px;
    float: left;
    padding: 0 40px 0 15px;
    outline: none; }
  header .wrap-input-search .submit-search {
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: #fff;
    float: left;
    margin-left: 0px;
    margin-top: 0px; }
  header .wrap-input-search.active {
    visibility: visible;
    opacity: 1; }
header .wrap-banner {
  width: 100%; }
  header .wrap-banner .banner {
    position: relative;
    height: 256px; }
    header .wrap-banner .banner img {
      width: 100%;
      position: absolute;
      height: 256px; }
    header .wrap-banner .banner .banner-content {
      position: absolute; }
      header .wrap-banner .banner .banner-content ul {
        margin-top: 10px; }
        header .wrap-banner .banner .banner-content ul li {
          position: relative;
          float: left; }
          header .wrap-banner .banner .banner-content ul li a {
            color: #777777;
            transition: all 0.3s ease; }
            header .wrap-banner .banner .banner-content ul li a:hover {
              background-color: transparent;
              color: #fff;
              text-decoration: underline; }
          header .wrap-banner .banner .banner-content ul li:after {
            content: '-';
            position: absolute;
            top: 8px;
            left: -2px;
            font-size: 18px;
            color: #777777; }
        header .wrap-banner .banner .banner-content ul li:nth-child(1):after {
          content: ''; }
      header .wrap-banner .banner .banner-content .jumbotron {
        padding: 20px 15px;
        background-color: transparent;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
        color: #fff; }
        header .wrap-banner .banner .banner-content .jumbotron h1 {
          margin-top: 0px;
          margin-bottom: 0px;
          text-transform: uppercase;
          letter-spacing: 1.8px; }
        header .wrap-banner .banner .banner-content .jumbotron .ave-text {
          text-transform: uppercase; }
        header .wrap-banner .banner .banner-content .jumbotron .small-text {
          font-size: 15px; }

.page-content {
  /* hover previous stars in list */ }
  .page-content .categories {
    margin: 40px 0 0px; }
    .page-content .categories li {
      text-transform: uppercase; }
      .page-content .categories li a {
        color: #333;
        text-decoration: underline; }
        .page-content .categories li a:hover {
          background-color: transparent; }
  .page-content .list-title {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold; }
  .page-content .bootstrap-select button {
    border-radius: 0px;
    padding: 10px 15px; }
  .page-content .dropdown-menu li.selected {
    border: 1px solid transparent !important; }
  .page-content .items {
    text-align: center;
    margin-top: 60px; }
    .page-content .items .thumbnail {
      border: 0px;
      padding: 0px;
      margin-top: 20px; }
      .page-content .items .thumbnail img {
        margin-bottom: 60px; }
    .page-content .items .caption {
      padding: 0px; }
      .page-content .items .caption h3 {
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1.2px;
        line-height: 28px; }
      .page-content .items .caption p {
        color: #989898; }
    .page-content .items .bootstrap-select .bs-placeholder {
      outline: none !important; }
    .page-content .items .bootstrap-select .dropdown-toggle:focus {
      outline: none !important;
      background-color: #fff; }
    .page-content .items .bootstrap-select .dropdown-menu li a {
      outline: none !important; }
      .page-content .items .bootstrap-select .dropdown-menu li a:focus {
        background-color: #ddd; }
    .page-content .items .bootstrap-select.open .dropdown-toggle {
      background-color: #fff; }
  .page-content .units {
    display: flex; }
    .page-content .units .unit-left {
      flex: 1;
      padding-right: 15px;
      padding-top: 15px;
      border-right: 1px solid #dadada; }
    .page-content .units .unit-right {
      flex: 0.7; }
      .page-content .units .unit-right h4 {
        line-height: 20px;
        transform: translateX(-8px) translateY(16px); }
  .page-content fieldset, .page-content label {
    margin: 0;
    padding: 0; }
  .page-content .rating {
    border: none;
    transform: translateY(9px); }
    .page-content .rating span {
      line-height: 7px;
      color: #989898;
      transform: translateY(9px);
      margin-left: 3px; }
  .page-content .rating > input {
    display: none; }
  .page-content .rating > label:before {
    margin: 5px;
    font-size: 12px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"; }
  .page-content .rating > .half:before {
    content: "\f089";
    position: absolute; }
  .page-content .rating > label {
    color: #ddd;
    float: right; }
  .page-content .rating > input:checked ~ label,
  .page-content .rating:not(:checked) > label:hover,
  .page-content .rating:not(:checked) > label:hover ~ label {
    color: #010101; }
  .page-content .rating > input:checked + label:hover,
  .page-content .rating > input:checked ~ label:hover,
  .page-content .rating > label:hover ~ input:checked ~ label,
  .page-content .rating > input:checked ~ label:hover ~ label {
    color: #010101; }
  .page-content .btn-load-more {
    margin-top: 50px;
    text-align: center;
    border-radius: 0px;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 10px 25px;
    text-transform: uppercase; }

footer .wrap-search-content {
  background-color: #131313;
  padding: 60px 0;
  margin-top: 100px; }
  footer .wrap-search-content h2 {
    color: #fff;
    display: inline-block; }
  footer .wrap-search-content ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    text-transform: uppercase; }
  footer .wrap-search-content ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    text-transform: uppercase; }
  footer .wrap-search-content :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    text-transform: uppercase; }
  footer .wrap-search-content :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    text-transform: uppercase; }
  footer .wrap-search-content .btn-search-content {
    height: 50px;
    width: 300px;
    background-color: #dd244d;
    border: 1px solid transparent;
    color: #fff;
    padding: 0 50px 0 15px;
    margin-left: 15px;
    outline: none; }
  footer .wrap-search-content .submit-search-content {
    background-color: #dd244d;
    border: 1px solid transparent;
    color: #fff;
    width: 60px;
    height: 48px;
    margin-left: -70px; }
    footer .wrap-search-content .submit-search-content i {
      color: #fff;
      font-size: 18px; }
footer .wrap-logo-footer {
  padding: 150px 0; }

@media (max-width: 1199px) {
  header .wrapper .resp-large {
    width: 100%; }
  header .top-bar .sub-menu li a {
    font-size: 11px;
    text-transform: lowercase; } }
@media (max-width: 767px) {
  header nav.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    z-index: 9999;
    background-color: #131313; }
  header .top-bar-wrapper {
    display: none; }
  header .navbar-main-menu {
    float: left; }
  header .navbar-header {
    position: relative; }
    header .navbar-header .navbar-search {
      margin-left: 0px;
      margin-top: 0px;
      width: 100%; }
      header .navbar-header .navbar-search .wrap-input-search {
        right: 25px;
        left: inital;
        top: 0px;
        z-index: 999; }
    header .navbar-header ul {
      display: block !important;
      float: right;
      width: auto; }
      header .navbar-header ul li {
        width: 40px;
        float: left;
        padding-top: 15px;
        text-align: center;
        position: relative; }
        header .navbar-header ul li i {
          color: #fff;
          font-size: 20px;
          cursor: pointer; }
      header .navbar-header ul .bag span {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #d71450;
        top: 12px;
        right: 3px;
        line-height: 15px;
        font-size: 10px;
        color: #fff;
        text-align: center; }
    header .navbar-header .logo {
      display: block !important;
      float: left;
      padding-left: 15px; }
    header .navbar-header .wrap-input-search {
      display: block; }
  header .wrap-banner {
    padding-top: 50px; }
  header .navbar-collapse {
    border-top: 1px solid #fff; }
    header .navbar-collapse .navbar-main-menu {
      width: 100%;
      background-color: #131313;
      margin: 0 0 0; }
    header .navbar-collapse .navbar-search {
      display: none; }

  .page-content .bootstrap-select.btn-group:not(.input-group-btn), .page-content .bootstrap-select.btn-group[class*=col-] {
    float: right; } }
@media (max-width: 575px) {
  header .navbar-header .logo img {
    width: 80px;
    height: 35px;
    margin-top: 10px; }
  header .navbar-header .navbar-toggle {
    margin-right: 0px; }
  header .navbar-header .navbar-search .wrap-input-search {
    width: 100%;
    right: -10px; }
    header .navbar-header .navbar-search .wrap-input-search .input-search {
      width: 230px; }
  header .wrap-banner .banner {
    height: 156px; }
    header .wrap-banner .banner img {
      height: 156px; }
    header .wrap-banner .banner .banner-content ul {
      padding-left: 7px; }
      header .wrap-banner .banner .banner-content ul li:after {
        content: ''; }
      header .wrap-banner .banner .banner-content ul li a {
        font-size: 12px;
        color: #fff;
        padding: 8px 8px; }
    header .wrap-banner .banner .banner-content .jumbotron {
      margin-top: -20px; }
      header .wrap-banner .banner .banner-content .jumbotron h1 {
        font-size: 20px; }
      header .wrap-banner .banner .banner-content .jumbotron .ave-text {
        font-size: 15px; }
      header .wrap-banner .banner .banner-content .jumbotron .small-text {
        font-size: 12px; }

  .page-content .categories li {
    width: 50%;
    text-align: center;
    float: left; }
  .page-content .items {
    margin-top: 15px; }
    .page-content .items .col-sm-6 {
      padding: 0px; }
    .page-content .items .unit-left {
      width: 100%; }
    .page-content .items .unit-right {
      width: 100%; }
      .page-content .items .unit-right .bootstrap-select.btn-group:not(.input-group-btn), .page-content .items .unit-right .bootstrap-select.btn-group[class*=col-] {
        float: left; }

  footer .wrap-search-content h2 {
    font-size: 20px; }
  footer .wrap-search-content .btn-search-content {
    width: 200px;
    margin-left: 0px; }
  footer .wrap-logo-footer {
    padding: 70px 15px; }
    footer .wrap-logo-footer img {
      width: 100%;
      height: 100px; } }

/*# sourceMappingURL=style.css.map */
