<div class="banner_block">
    <div class="banner">
        <a href="#"> <img src="<?php echo $this->getViewFileUrl('images/Block_Banner.jpg'); ?>" /></a>
    </div>
    <div class="desc">
        <div class="banner_description">
            <h1><a href="#"><?php echo __("focus on"); ?></a></h1>
            <h6><?php echo __("teint idole ultra cushion"); ?></h6>
            <p><?php echo __("Lorem Ipsum is simply dummy text of the printing"); ?> </p>
            <p><?php echo __("and typesetting industry."); ?></p>
            <a href="#" class="banner_button"><?php echo __("discover"); ?></a>
        </div>
    </div>
</div>
