<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($crumbs && is_array($crumbs)) : ?>
    <div class="wrap-banner">
            <div class="banner">
                <img src="<?php echo $this->getViewFileUrl('images/banner.png'); ?>">
                <div class="container">
                    <div class="banner-content">
                        <ul class="nav">
                            <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
                                <li class="navbar-left <?php /* @escapeNotVerified */ echo $crumbName ?>">
                                    <?php if ($crumbInfo['link']) : ?>
                                        <a href="<?php /* @escapeNotVerified */ echo $crumbInfo['link'] ?>" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>">
                                            <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                                        </a>
                                    <?php elseif ($crumbInfo['last']) : ?>
                                        <a><?php echo $block->escapeHtml($crumbInfo['label']) ?></a>
                                    <?php else: ?>
                                        <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                                    <?php endif; ?>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                       
                        <div class="jumbotron">
                          <h1>fragrance</h1>
                          <p class="ave-text">des parfums inoubliables</p>
                          <p class="small-text">Les parfums Lancoome incarnent la joie de vivre et le bonheur partagé</p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>

<?php endif; ?>
