
<div class="exclusive_pro">
    <div class="title">
        <div class="center">
            <h1>online exclusives</h1>
        </div>
        <a href="#" class="right_link">view all</a>
    </div>
    <div class="exclusive_product">
        <ul class="items">
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/E_1.png'); ?>" /></a>
                <p><a href="#">make her amile</a></p>
                <h2><a href="#">egift card</a></h2>
                <h5>Give the gift that keeps on beautifying.</h5>
                <a href="#" class="pro_button">discover</a>
            </li>
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/E_2.png'); ?>" /></a>
                <p><a href="#">fing the perfect gift</a></p>
                <h2><a href="#">gift finder</a> </h2>
                <h5>Give the gift that keeps on beautifying.</h5>
                <a href="#" class="pro_button">start now</a>
            </li>
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/E_3.png'); ?>"/></a>
                <p><a href="#">make it unique</a></p>
                <h2><a href="#">egift card</a></h2>
                <h5>Give the gift that keeps on beautifying.</h5>
                <a href="#" class="pro_button">discover</a>
            </li>
        </ul>
    </div>
</div>
<div class="banner_block">
    <div class="banner">
       <a href="#"> <img src="<?php echo $this->getViewFileUrl('images/Block_Banner.jpg'); ?>" /></a>
    </div>
    <div class="desc">
        <div class="banner_description">
            <h1><a href="#"> focus on</a></h1>
            <h6>teint idole ultra cushion</h6>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <p>and typesetting industry.</p>
            <a href="#" class="banner_button">discover</a>
        </div>
    </div>
</div>
<?php echo $this->getLayout()->createBlock("Mageplaza\Blog\Block\Home\Allblog")->setTemplate("Mageplaza_Blog::home/blogcategory.phtml")->toHtml(); ?>

<!--<div class="inspire_block">
    <div class="title">
        <h1>paris inspires</h1>
    </div>
    <div class="sub_title">
        <p>the beauty mag by lancome</p>
        <img src="<?php echo $this->getViewFileUrl('images/row.png'); ?>" />
    </div>
    <div class="inspire_details">
        <div class="left_link">
            <h2>Get insipired by the beauty world</h2>
            <ul>
                <li class="item f_item"><span> les parisiennes </span></li>
                <li class="item s_item"><span>lisa eldridge tutorials <span></span></li>
                <li class="item"><span>beauty tips</span></li>
                <li class="item"><span>secrets for a perfect skin</span></li>
                <li class="item"><span>makeup stories</span></li>
                <li class="item"><span>out now</span></li>
            </ul>
        </div>
        <div id="Parisiennes" class="right_content">
            <ul>
                <li>
                    <a href="#"><img src="<?php echo $this->getViewFileUrl('images/Inspire_1.png'); ?>" /></a>
                    <h1><a href="#">what is nail contouring?</a></h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    <a href="#" class="read_more">Read more</a>
                </li>
                <li>
                    <a href="#"><img src="<?php echo $this->getViewFileUrl('images/Inspire_2.png'); ?>" /></a>
                    <h1><a href="#">what is nail contouring?</a></h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    <a href="#" class="read_more">Read more</a>
                </li>
                <li>
                    <a href="#"><img src="<?php echo $this->getViewFileUrl('images/Inspire_3.png'); ?>" /></a>
                    <h1><a href="#">what is nail contouring?</a></h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    <a href="#" class="read_more">Read more</a>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            require (['jquery'], function () {
                jQuery(document).ready(function(){
                    //jQuery(".block-content1").hide();
                    jQuery("ul .f_item").addClass("active");
                    jQuery("ul .item").click(function(){
                        jQuery("this").next("right_content").hide();
                        jQuery(".right_content").show();
                        jQuery("ul .item").removeClass("active");
                        jQuery(this).addClass("active");
                    });

                });
            });
        </script>

    </div>
</div>
-->
<div class="insta_block">
    <div class="insta_title">
        <div class="title_center">
            <h1>#lancome</h1>
        </div>
        <a href="#" class="right_link">view gallery</a>
    </div>
    <div class="insta_content">
        <ul>
            <li>
                <a href="#" class="back_img"><img src="<?php echo $this->getViewFileUrl('images/i_2.png'); ?>" /></a>
                <div class="insta_wish">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"><span>9999</span></i></a>
                    <a href="#"><i class="fa fa-comment" aria-hidden="true"><span>8888</span></i></a>
                </div>
            </li>
            <li>
                <a href="#" class="back_img"><img src="<?php echo $this->getViewFileUrl('images/i_3.png'); ?>" /></a>
                <div class="insta_wish">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"><span>15000</span></i></a>
                    <a href="#"><i class="fa fa-comment" aria-hidden="true"><span>236598</span></i></a>
                </div>
            </li>
            <li>
                <a href="#" class="back_img"><img src="<?php echo $this->getViewFileUrl('images/i_2.png'); ?>" /></a>
                <div class="insta_wish">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"><span>9999</span></i></a>
                    <a href="#"><i class="fa fa-comment" aria-hidden="true"><span>8888</span></i></a>
                </div>
            </li>
            <li>
                <a href="#" class="back_img"><img src="<?php echo $this->getViewFileUrl('images/i_3.png'); ?>" /> </a>
                <div class="insta_wish">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"><span>7777</span></i></a>
                    <a href="#"><i class="fa fa-comment" aria-hidden="true"><span>6666</span></i></a>
                </div>
            </li>
<!--            <li>-->
<!--                <img src="--><?php //echo $this->getViewFileUrl('images/i_4.png'); ?><!--" />-->
<!--            </li>-->
        </ul>
    </div>
</div>





