<div class="slider-wrapper">
    <ul class="homepage_slider slider">
        <li>
            <img src="<?php echo $block->getViewFileUrl("images/banner.jpg");?>" alt="banner1">
            <div class="above_banner">
                <h6><?php echo __("New"); ?></h6>
                <h1><?php echo __("Matte Shaker"); ?></h1>
                <a href="#"><?php echo __("Shop Now"); ?></a>
            </div>
        </li>
        <li>
            <img src="<?php echo $block->getViewFileUrl("images/banner.jpg");?>" alt="banner1">
            <div class="above_banner">
                <h6><?php echo __("Focus On"); ?></h6>
                <h1><?php echo __("L'absolu rouge"); ?></h1>
                <a href="#"><?php echo __("Shop Now"); ?></a>
            </div>
        </li>
        <li>
            <img src="<?php echo $block->getViewFileUrl("images/banner.jpg");?>" alt="banner1">
            <div class="above_banner">
                <h6><?php echo __("fall collection");?></h6>
                <h1><?php echo __("grandiose liner"); ?></h1>
                <a href="#"><?php echo __("Shop Now"); ?></a>
            </div>
        </li>
        <li>
            <img src="<?php echo $block->getViewFileUrl("images/banner.jpg");?>" alt="banner1">
            <div class="above_banner">
                <h6><?php echo __("essentials"); ?></h6>
                <h1><?php echo __("wedding Season"); ?></h1>
                <a href="#"><?php echo __("Shop Now"); ?></a>
            </div>
        </li>
        <li>
            <img src="<?php echo $block->getViewFileUrl("images/banner.jpg");?>" alt="banner1">
            <div class="above_banner">
                <h6><?php echo __("essentials"); ?></h6>
                <h1><?php echo __("wedding Season"); ?></h1>
                <a href="#"><?php echo __("Shop Now"); ?></a>
            </div>
        </li>
    </ul>
    <div class="home_slider_bottom">
        <ul class="slider-nav slider">
            <li>
                <h5><?php echo __("New"); ?></h5>
                <p><?php echo __("Matte Shaker"); ?></p>
            </li>
            <li>
                <h5><?php echo __("Focus On"); ?></h5>
                <p><?php echo __("video play"); ?></p>
            </li>
            <li>
                <h5><?php echo __("fall collection"); ?></h5>
                <p><?php echo __("grandiose liner"); ?></p>
            </li>
            <li>
                <h5><?php echo __("essentials"); ?></h5>
                <p><?php echo __("wedding Season"); ?></p>
            </li>
            <li>
                <h5><?php echo __("essentials"); ?></h5>
                <p><?php echo __("wedding Season"); ?></p>
            </li>
        </ul>
    </div>
    <div class="slider-progress">
        <div class="progress"></div>
    </div>
</div>

<style type="text/css">
    /* progress bar */
    .slider-progress {
        width: 100%;
        height: 5px;
        background: #ccc;
    }
    .slider-progress .progress {
        width: 0%;
        height: 5px;
        background: #d61b52;
    }
</style>

<script type="text/javascript">
    require(['jquery','slick'], function(){
        jQuery(document).ready(function(){
            var time = 3;
            var bar,
                slick,
                isPause,
                tick,
                percentTime;
            slick = jQuery('.homepage_slider');
            jQuery('.homepage_slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                autoplay:true,
                autoplaySpeed: 3000,
                fade: true,
                asNavFor: '.slider-nav'
            });
            jQuery(".slider-nav").slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                asNavFor: '.homepage_slider',
                dots: false,
                autoplay:true,
                arrows: false,
                autoplaySpeed: 3000,
                centerMode: false,
                focusOnSelect: true
            });
            bar = jQuery('.slider-progress .progress');
            jQuery('.slider-wrapper').on({
                mouseenter: function() {
                    isPause = true;
                },
                mouseleave: function() {
                    isPause = false;
                }
            })
            function startProgressbar() {
                resetProgressbar();
                percentTime = 0;
                isPause = false;
                tick = setInterval(interval, 10);
            }
            function interval() {
                if(isPause === false) {
                    percentTime += 1 / (time+0.1);
                    bar.css({
                        width: percentTime+"%"
                    });
                    if(percentTime >= 100)
                    {
                        slick.slick('slickNext');
                        startProgressbar();
                    }
                }
            }
            function resetProgressbar() {
                bar.css({
                    width: 0+'%'
                });
                clearTimeout(tick);
            }
            startProgressbar();
        });
    });
</script>