<div class="insta_block">
    <div class="insta_title">
        <div class="title_center">
            <h1>#lancome</h1>
        </div>
        <a href="#" class="right_link">view gallery</a>
    </div>
    <div class="insta_content">
        <ul>
            <li>
                <a href="#" class="back_img"><img src="<?php echo $this->getViewFileUrl('images/i_2.png'); ?>" /></a>
                <div class="insta_wish">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"><span>9999</span></i></a>
                    <a href="#"><i class="fa fa-comment" aria-hidden="true"><span>8888</span></i></a>
                </div>
            </li>
            <li>
                <a href="#" class="back_img"><img src="<?php echo $this->getViewFileUrl('images/i_3.png'); ?>" /></a>
                <div class="insta_wish">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"><span>15000</span></i></a>
                    <a href="#"><i class="fa fa-comment" aria-hidden="true"><span>236598</span></i></a>
                </div>
            </li>
            <li>
                <a href="#" class="back_img"><img src="<?php echo $this->getViewFileUrl('images/i_2.png'); ?>" /></a>
                <div class="insta_wish">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"><span>9999</span></i></a>
                    <a href="#"><i class="fa fa-comment" aria-hidden="true"><span>8888</span></i></a>
                </div>
            </li>
            <li>
                <a href="#" class="back_img"><img src="<?php echo $this->getViewFileUrl('images/i_3.png'); ?>" /> </a>
                <div class="insta_wish">
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"><span>7777</span></i></a>
                    <a href="#"><i class="fa fa-comment" aria-hidden="true"><span>6666</span></i></a>
                </div>
            </li>
        </ul>

    </div>
</div>
