<div class="exclusive_pro">
    <div class="title">
        <div class="center">
            <h1><?php echo __("online exclusives"); ?></h1>
        </div>
        <a href="#" class="right_link"><?php echo __("view all"); ?></a>
    </div>
    <div class="exclusive_product">
        <ul class="items">
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/E_1.png'); ?>" /></a>
                <p><a href="#"><?php echo __("make her amile"); ?></a></p>
                <h2><a href="#"><?php echo __("egift card"); ?></a></h2>
                <h5><?php echo __("Give the gift that keeps on beautifying."); ?></h5>
                <a href="#" class="pro_button"><?php echo __("discover"); ?></a>
            </li>
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/E_2.png'); ?>" /></a>
                <p><a href="#"><?php echo __("fing the perfect gift"); ?></a></p>
                <h2><a href="#"><?php echo __("gift finder"); ?></a> </h2>
                <h5><?php echo __("Give the gift that keeps on beautifying."); ?></h5>
                <a href="#" class="pro_button"><?php echo __("start now"); ?></a>
            </li>
            <li>
                <a href="#"><img src="<?php echo $this->getViewFileUrl('images/E_3.png'); ?>"/></a>
                <p><a href="#"><?php echo __("make it unique"); ?></a></p>
                <h2><a href="#"><?php echo __("egift card"); ?></a></h2>
                <h5><?php echo __("Give the gift that keeps on beautifying."); ?></h5>
                <a href="#" class="pro_button"><?php echo __("discover"); ?></a>
            </li>
        </ul>
    </div>
</div>