<?php
use Magento\Framework\App\Action\Action;

$productCollection = $this->getProductCollection();
$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\ListProduct');
$showCart = true;
$type = 'widget-new-grid';
$viewMode = 'grid';
$image = 'category_page_grid';
$pos = $block->getPositioned();
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

?>




    <div class="products-grid bestsellertab">
        <div id="topseller-slider" class="products list items product-items owlslider" data-jcarousel="true">
            <div class="slider_navigation">
                <div class="left_button">
                    <img src="<?php echo $this->getViewFileUrl("images/left.png"); ?>"/>
                </div>
                <div class="right_button">
                    <img src="<?php echo $this->getViewFileUrl("images/right.png"); ?>"/>
                </div>
            </div>
            <ul id="slider_image_main1"  class="owl-owlCarousel product-items" id="topsellerowlslider">
                <?php $iterator = 1; ?>
                <?php foreach ($productCollection as $_product): ?>
                    <?php $productImage = $imageBlock->getImage($_product, 'category_page_grid');
                    if ($pos == null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php echo($iterator++ == 1) ? '<li class="product-item"><div class="product-item-info">' : '</div></li><li class="product-item"><div class="product-item-info">' ?>
                    <a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $productImage->toHtml()  ?></a>
                    <div class="view_button">
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl(); ?>" class="quick"><?php echo __("quick shop"); ?></a>
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl(); ?>" class="discover"><?php echo __("discover"); ?></a>
                    </div>
                    <div class="product details product-item-details">
                        <strong class="product name product-item-name">
                            <a class="product-item-link"  href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_product->getName(); ?>
                            </a>
                        </strong>
                        <div class="description">
                        <p>
                            <?php echo substr($this->helper('Magento\Catalog\Helper\Output')->productAttribute($_product, $_product->getDescription(), 'description'),0,100)."..."; ?> </p>
                        </div>

                        <?php
                        $proid = $_product->getId();
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $RatingOb = $objectManager->create('Magento\Review\Model\Rating')->getEntitySummary($proid);
                        //var_dump($RatingOb->getData());
                        //exit;
                         $rsum = $RatingOb["sum"];//->getSum();
                         $rcount = $RatingOb->getCount();
                         if($rcount == 0){?>
                             <a href="<?php echo $_product->getProductUrl(); ?>" class="add_review">Add Review</a>
                         <?php }else{
                             $ratings = ($rsum/$rcount);
                             ?>
                             <div class="product-reviews-summary">
                                 <div class="rating-summary">
                                     <span class="label"><span>Rating:</span></span>
                                     <div class="rating-result">
                                         <span style="width:<?php echo $ratings; ?>%"><span><span itemprop="ratingValue"><?php echo $ratings; ?></span>% of <span itemprop="bestRating">100</span></span></span>
                                     </div>
                                     <span class="count"><?php echo '('.$RatingOb->getCount().')'; ?></span>
                                 </div>
                             </div>
                        <?php }

                        ?>




                        <?php if ($showCart): ?>
                        <div class="price_box">
                            <span>From</span>
                            <?php echo $this->getProductPricetoHtml($_product, $type); ?>
                        </div>

                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey')?>
<!--                                            <button type="submit"-->
<!--                                                    title="--><?php //echo $block->escapeHtml(__('Add to Cart')); ?><!--"-->
<!--                                                    class="action tocart primary">-->
<!--                                                <span>--><?php //echo __('Add to Cart') ?><!--</span>-->
<!--                                            </button>-->
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>

                                <div class="actions-secondary" data-role="add-to-links">
                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
<!--                                        <a href="#"-->
<!--                                           data-post='--><?php //echo $block->getAddToWishlistParams($_product); ?><!--'-->
<!--                                           class="action towishlist" data-action="add-to-wishlist"-->
<!--                                           title="--><?php //echo __('Add to Wish List') ?><!--">-->
<!--                                            <span>--><?php //echo __('Add to Wish List') ?><!--</span>-->
<!--                                        </a>-->
                                    <?php endif; ?>
                                    <?php if ($block->getAddToCompareUrl()) ?>
                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
<!--                                    <a href="#" class="action tocompare"-->
<!--                                       data-post='--><?php //echo $compareHelper->getPostDataParams($_product);?><!--'-->
<!--                                       title="--><?php //echo __('Add to Compare') ?><!--">-->
<!--                                        <span>--><?php //echo __('Add to Compare') ?><!--</span>-->
<!--                                    </a>-->
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        require (['jquery'], function () {
                            jQuery(window).bind("load", function() {
                                jQuery(".color .swatch-attribute-options").addClass("pro<?php echo $_product->getId(); ?>");
                                var owl = jQuery(".pro<?php echo $_product->getId(); ?>");
                                owl.owlCarousel({
                                    items:4,
                                    slideSpeed: 300,
                                    pagination: false,
                                    navigation: true,
                                    navigationText: ["<img src='<?php echo $this->getViewFileUrl("images/p_1.png"); ?>'/>","<img src='<?php echo $this->getViewFileUrl("images/n_1.png"); ?>'/>"],
                                    addClassActive: true,
                                    itemsDesktop: [1120, 4],
                                    itemsDesktopSmall: [950, 4],
                                    itemsTablet: [768, 4],
                                    itemsTabletSmall: [580, 4],
                                    itemsMobile: [360, 4] // itemsMobile disabled - inherit from itemsTablet option
                                });
                            });
                        });
                    </script>
                    <?php echo($iterator == count($productCollection)+1) ? '</div></li>' : '' ?>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {}
        }
    }
</script>
<?php endif; ?>

<script type="text/javascript">
    require (['jquery', 'zenonowl'], function () {
        jQuery(document).ready(function () {

            var owl = jQuery("#slider_image_main1");
            owl.owlCarousel({
                items:3,
                slideSpeed: 300,
                pagination: false,
                //autoPlay: 6000,
                addClassActive: true,
                itemsDesktop: [1120, 5],
                itemsDesktopSmall: [950, 4],
                itemsTablet: [768, 3],
                itemsTabletSmall: [580, 2],
                itemsMobile: [360, 1] // itemsMobile disabled - inherit from itemsTablet option
            });
            jQuery(".bestsellertab .slider_navigation .right_button").click(function () {
                owl.trigger('owl.next');
            });
            jQuery(".bestsellertab .slider_navigation .left_button").click(function () {
                owl.trigger('owl.prev');
            });
        });
    });
</script>

