<div class="title">
    <ul>
        <li class="bestsellertitle"><h3><?php echo __("best sellers"); ?></h3></li>
        <li class="newproducttitle"><h3><?php echo __("new in"); ?></h3></li>
        <li class="topratedtitle"><h3><?php echo __("top rated"); ?></h3></li>
    </ul>
</div>
<?php echo $block->getChildHtml('best_sellers'); ?>
<?php echo $block->getChildHtml('new_in'); ?>
<?php echo $block->getChildHtml('top_rates'); ?>

<script>
    require (['jquery'], function () {
        jQuery(document).ready(function(){
            jQuery(".bestsellertitle").addClass("active");
            jQuery(".newproducttab").hide();
            jQuery(".topratedtab").hide();
            jQuery(".bestsellertitle").click(function () {
                jQuery(this).addClass("active");
                jQuery(".newproducttitle").removeClass("active");
                jQuery(".topratedtitle").removeClass("active");
                jQuery(".newproducttab").hide();
                jQuery(".topratedtab").hide();
                jQuery(".bestsellertab").show();
            });
            jQuery(".newproducttitle").click(function () {
                jQuery(this).addClass("active");
                jQuery(".bestsellertitle").removeClass("active");
                jQuery(".topratedtitle").removeClass("active");
                jQuery(".bestsellertab").hide();
                jQuery(".topratedtab").hide();
                jQuery(".newproducttab").show();
            });
            jQuery(".topratedtitle").click(function () {
                jQuery(this).addClass("active");
                jQuery(".newproducttitle").removeClass("active");
                jQuery(".bestsellertitle").removeClass("active");
                jQuery(".newproducttab").hide();
                jQuery(".bestsellertab").hide();
                jQuery(".topratedtab").show();
            });
        });
    });
</script>

