<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- <p data-bind="html: getInstructions()"></p>
        <p data-bind="html: getAllowInstallment()"></p>
        <p data-bind="html: getInstallmentDetails()"></p>
        <p data-bind="html: getInstallmentBank()"></p> -->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
        <div class="payment-method-type field choice">
            <input type="checkbox"
                   name="paymentMethodType"
                   class="radio"
                   value="installment"
                   data-bind="
                   checked: installment,
                   visible: getAllowInstallment(),
                   attr: {id: getCode() + '_installmentMethod'}
                    "/>
            <label data-bind="visible: getAllowInstallment(), i18n: 'Installment'" class="label"></label>
        </div>
        <div class="installmentPayment">
            <label data-bind="visible: installment, i18n: 'Select Bank'" class="label"></label>
            <select name="payment[InstallmentBank]"
                    class="select select-month"
                    data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},

                              options: getInstallmentBank(),
                              optionsValue: 'bankId',
                              optionsText: 'bankName',
                              value:installmentBank,
                              visible: installment">

            </select>
        </div>
        <div class="installmentType">
            <label data-bind="visible: installment, i18n: 'Installment Type'" class="label"></label>
            <select name="payment[InstallmentType]"
                    class="installment installment-detail"
                    data-bind="attr: {id: getCode() + '_installmentDetail'},
                              change: installmentType,
                              value:installmentType,
                              options: getInstallmentDetails(),
                              optionsValue: 'code',
                              optionsText: 'description',
                              visible: installment">

            </select>
        </div>
    </div>
</div>
