@media screen and (min-width: 768px){
    /*###### MENU level 1 ####*/
	nav.navigation{
		max-width: 100%;
	}

    .navigation ul.container{
        background-color: #131313;
        text-align: center;
    }

    .navigation ul.container .level0{
        font-family: Gotham-Book;
    }

    .navigation ul.nav.container .level0 > a{
        color: #999999;
        font-size: 11px;
        padding-right: 40px;
		letter-spacing: 0.2em;
    }

    .navigation ul.nav.container .level0:hover >a{
        color: #ffffff;
    }

    .navigation ul.container .level0 > a> span{
        display: none;
    }

    .navigation ul.container > li{
        padding: 25px 0px !important;
    }

	.navigation ul.container.fixed-nav > li{
		padding: 20px 0px !important;
	}

    .navigation ul.container > .level0.mega-menu-item > a{
        position: relative;
    }

    .navigation ul.container > .level0.mega-menu-item > a::after{
        content: '';
        position: absolute;
        bottom: -26px;
        left: 25%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 6px solid #fff;
        clear: both;
        display: none;
    }

    .navigation ul.container > .level0.mega-menu-item:hover a:after{
        display: block;
    }
	
	.navigation ul.container.fixed-nav{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
	}
    /*###### End MENU level 1 ####*/

	/*###  HAO STYLE  ####*/
    /*#### START Style for menu's contents: format color, size and spacing as document ######*/

	/*re-set col padding*/
	.col-md-2, .col-md-3, .col-md-4 {
		padding-right: 25px !important;
		padding-left: 0px !important;
	}

	.mega-menu-item .dropdown-menu {
		/*padding: 25px 0px 0px 0px !important;*/
		padding: 0 !important;
	}

	.mega-menu-item .dropdown-menu::after {
		content: " ";
    	display: block;
    	clear: both;
    	float: left;
    	width: 100%;
    	border-top: 1px solid #dadada;
    	position: absolute;
    	bottom: 145px;
	}

	.mega-menu-item .dropdown-menu .mega-menu-content .col-md-2, .mega-menu-item .dropdown-menu .mega-menu-content .col-md-3,.mega-menu-item .dropdown-menu .mega-menu-content .col-md-4 {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.mega-menu-item .dropdown-menu .mega-menu-content .right_content {
		margin-top: 0px;
	}

	.mega-menu-item .mega-menu-sub-title {
		font-family: Gotham-Bold;
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 0.1em;
		color: #000;
		display: block;
		margin-bottom: 15px;

	}

	.mega-menu-item .sub-menu {
		padding: 0;
	}

	.mega-menu-item .sub-menu > li {
		margin-bottom: 11px;
		line-height: 13px;
	}

	.mega-menu-item .dropdown-menu .sub-menu a {
		font-family: Gotham-Book;
		font-size: 13px !important;
		line-height: 13px;
		letter-spacing: initial;
		color: #999 !important;
	}

	.mega-menu-item .dropdown-menu .sub-menu a:hover {
		color: #000 !important;
		text-decoration: none;
	}

	/*Menu makeup*/
	/*Custom col's width*/
	.col-5-custom .col-md-2{
		width: 20%;
	}

	.bottom_content {
		padding: 0 !important;
	}

	.col-5-custom .dropdown-menu .bottom_content .view-all-links a {
		color: #000 !important;
		font-family: Gotham-Book;
		line-height: 13px;
		font-size: 13px;
		letter-spacing: 0.1em;
		display: block;
		margin-bottom: 25px;
	}

	.col-5-custom .dropdown-menu .bottom_content .view-all-links .col-md-2 a:hover {
		color: #999 !important;
		text-decoration: underline;
	}
	/*-----------------------*/

	/*Menu Skincare*/
		/*This css use for ALL menu bottom*/
	.skincare-menu-bottom {
		float: left;
		width: 100%;
		/*margin-top: 25px;*/
		/*border-top: 1px solid #dadada; */
	}

	.skincare-menu-bottom .col-md-2 {
		width: 20%;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}

	.skincare-menu-bottom .col-md-5 {
		width: 40%;
		margin-bottom: 0px !important;
	}

	.skincare-menu-bottom .block-static-block.widget, .block-cms-link.widget {
		margin-bottom: 0px;
	}

	.skincare-menu-bottom .our-selection {
		margin: 10px 0 10px 0;
		padding: 20px;
		background-color: #000;
	}

	.skincare-menu-bottom .our-selection .our-selection-sub-title {
		font-family: Gotham-Bold;
		font-size: 12px !important;
		line-height: 12px;
		letter-spacing: 0.1em;
		color: #fff !important;
		margin-bottom: 12px;
		display: block;
	}

	.skincare-menu-bottom .our-selection a:hover {
		text-decoration: none;
	}

	.skincare-menu-bottom .our-selection .our-selection-sub-menu {
		padding: 0;
	}

	.skincare-menu-bottom .our-selection .our-selection-sub-menu > li {
		margin-bottom: 11px;
		line-height: 12px;
	}

	.skincare-menu-bottom .our-selection .our-selection-sub-menu > li:last-child {
		margin-bottom: 0px !important;
	}

	.skincare-menu-bottom .our-selection .our-selection-sub-menu li a{
		font-family: Gotham-Book;
		font-size: 12px !important;
		letter-spacing: initial;
		color: #999 !important;
	}

	.skincare-menu-bottom .our-selection .our-selection-sub-menu li a:hover{
		text-decoration: none;
	}
	
	/*Thumbnail*/
	.mega-menu-content .skincare-menu-bottom .border-left {
		border-left: 1px solid #dadada;
	}

	.mega-menu-content .skincare-menu-bottom .thumbnail, .mega-menu-content .top-right .thumbnail {
		float: left;
		width: 100%;
		margin: 25px 0 25px 0;
	}

	.skincare-menu-bottom .thumbnail .pull-left {
		/*demo for image, replace it with real size*/
		width: 95px;
		height: 95px;
		background-color: transparent;
		margin-right: 20px;
	}

	.skincare-menu-bottom .thumbnail .thumbnail-content {
		height: 95px;
		position: relative;
	}

	.skincare-menu-bottom .thumbnail .thumbnail-content h3, .mega-menu-content .top-right .thumbnail .thumbnail-content h3 {
		margin-top: 0;
		margin-bottom: 15px;
		font-family: MillerDisplay-Light;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.05em;
		color: #000000;
		text-transform: uppercase;
	}

	.skincare-menu-bottom .thumbnail .thumbnail-content p, .mega-menu-content .top-right .thumbnail .thumbnail-content p {
		font-family: Gotham-Book;  
		font-size: 11px; 
		line-height: 11px;  
		letter-spacing: 0.2em;  
		color: #000000;
		text-transform: uppercase;
	}

	.skincare-menu-bottom .thumbnail .thumbnail-content .small-link {
		position: absolute;
		left: 115px;
		bottom: 0;
		font-family: Gotham-Book;
		font-size: 12px;
		line-height: 12px;
		color: #999 !important;
	}

	.skincare-menu-bottom .thumbnail .thumbnail-content a:hover .small-link {
		color: #000 !important;
		text-decoration: underline;
	}

	.navigation ul.container .level0 > ul > li{
		max-width: 1280px;
		margin: 0 auto;
	}
	/*end skincare menu*/

	/*Fragrance menu*/
	.mega-menu-item .dropdown-menu .mega-menu-content .col-md-4:nth-child(1) {
		width: 40%;
	}

	.mega-menu-item .dropdown-menu .mega-menu-content .col-md-4:nth-child(2) {
		width: 20%;
	}

	.mega-menu-item .dropdown-menu .mega-menu-content .col-md-4:nth-child(3) {
		width: 40%;
		margin-bottom: 0px;
		border-left: 1px solid #dadada;
	}

	.mega-menu-content .top-right {
		padding: 0 20px 0 20px;
	}

	.mega-menu-content .top-right .widget {
		margin-bottom: 0px !important;  
	}

	.mega-menu-content .top-right .thumbnail .thumbnail-content {
		position: relative;
	}

	.mega-menu-content .top-right .thumbnail-bot .full-width-img {
		float: left;
		width: 100%;
		height: 182px;
		background-color: transparent;
		margin-bottom: 20px;
	}

	.mega-menu-content .top-right .thumbnail .thumbnail-content .small-link {
		position: absolute;
		right: 0;
		top: 238px;
		font-family: Gotham-Book;
		font-size: 12px;
		line-height: 12px;
		color: #999 !important;
	}

	.mega-menu-content .top-right .thumbnail .thumbnail-content a:hover .small-link {
		color: #000 !important;
		text-decoration: underline;
	}

	/*end fragrance menu*/


    /*#### END Style for menu's contents: format color, size and spacing as document ######*/
	/*###  END HAO STYLE  ####*/

	/*#### FRAGRANCE menu ####*/
		.navigation ul.container .level0.col-div-2 .col-md-4:first-child ul.sub-menu ul.sub-menu > li{
			width: 50%;
			float: left;
		}
	/*#### End FRAGRANCE menu ####*/
}

@media screen and (max-width: 767px){

	/*## HAO STYLE ##*/
	/*Navigation mobile*/
	.navigation.nav-active {
		padding-left: 0px !important;
		width: 78%;
		float: right;
		background-color: #fff !important;
	}

	.navigation.nav-active .container ul.sub-menu {
		position: relative;
	}

	.navigation.nav-active .container li.level0, .navigation.nav-active .container .sub-menu li {
		padding-top: 45px; 
		border-top: 1px solid #dadada;
	}

	.navigation.nav-active .container a.level0, .navigation.nav-active .container .sub-menu a {
		font-family: Gotham-Book;
		font-size: 22px;
		line-height: 22px;
		text-transform: uppercase;
		margin-bottom: 45px;
	}

	.navigation.nav-active .container a.level0 {
		margin-left: 40px;
	}

	.navigation.nav-active .container .sub-menu a {
		margin-left: 80px;
	}

	.navigation.nav-active .container .active a.level0 {
		border-width: 0;
	}

	.navigation.nav-active .container .toggle-menu {
		padding-top: 0;
		top: 45px;
		right: 30px;
	}

	.col-5-custom .dropdown-menu .bottom_content .view-all-links a {
		display: none;
	}

	.skincare-menu-bottom {
		display: none;
	}

	/*replace fa plus*/
	.navigation.nav-active .container .toggle-menu em.fa::after {
		content: "+";
		font-family: Gotham-Light;
		font-size: 22px;
	}

	.navigation.nav-active .container .toggle-menu em.fa::before {
		content: none;
	}

	/*---------------*/
	/*## END HAO STYLE ##*/

}