<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?php echo __('Or With Email') ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php echo $block->getPostActionUrl() ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="<?php echo __('* Required Fields') ?>">
                <div class="field email required">
                    <!--<label class="label" for="email"><span><?php /*echo __('Email') */?></span></label>-->
                    <div class="control">
                        <input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php echo __('Your email') ?>" data-validate="{required:true, 'validate-email':true}" placeholder="<?php echo __('Your email') ?>">
                    </div>
                </div>
                <div class="field password required">
                    <!--<label for="pass" class="label"><span><?php /*echo __('Password') */?></span></label>-->
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php echo __('Password') ?>" data-validate="{required:true}" placeholder="<?php echo __('Password') ?>">
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <div class="secondary"><a class="action remind" href="<?php echo $block->getForgotPasswordUrl() ?>"><span><?php echo __('Forgot Password?') ?></span></a></div>
                <div class="field choice remember">
                    <input type="checkbox" name="is_remember" title="Remember me" value="1" id="is_remember" class="checkbox"/>
                    <label for="is_remember" class="label">
                        <span><?php echo __('Remember me')?></span>
                    </label>                                        
                </div>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php echo __('Sign In') ?></span></button></div>
                    <div class="new_account"><a class="action account_link" href="<?php echo $this->getUrl('customer/account/create/'); ?>"><span><?php  echo __('Create an Account')?></span></a></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
