.checkout-cart-index .page-title-wrapper{
	display: none;
}
.checkout-cart-index .cart-empty .backto{
	margin-right: 6px; 
}
.checkout-cart-index .cart-empty .container_d{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.checkout-cart-index .cart-empty .breadcrumb{
	margin-top:30px; 
	margin-bottom: 53px;
	color: #999;
}
.checkout-cart-index .cart-empty .breadcrumb a{
	color: #999999;
	font-size: 12px;
	font-family: 'Gotham-Book';
	text-decoration: underline;
}
.checkout-cart-index .cart-empty .backtoshop{
	color: #000000;
	font-size: 13.5px;
	font-family: 'Gotham-Medium';
	text-transform: uppercase;
}
.checkout-cart-index .cart-empty .text-center{
	text-align: center;
}
.checkout-cart-index .cart-empty .shoppingcartempty
{
	font-family: 'MillerDisplay-Light';
	font-size: 40px;
	color: #000000;
	margin-top:44px; 
	text-transform: uppercase;

}
.checkout-cart-index .cart-empty .shoppingcartempty span{
	font-family: 'MillerDisplay-LightItalic';
	clear: both;
    display: block;
}
.checkout-cart-index .cart-empty .emptycart-see-our{
	background: #f6f6f6;
	margin-top: 112px; 
	margin-bottom: 118px; 
	float: left;
	width: 100%;
	height: 150px;
	padding-top: 50px;

}
#search{
	font-family: 'Gotham-Book';
}
#search::placeholder{
	color: #fff;
}
.checkout-cart-index .cart-empty .see-our-left,.cart-empty .see-our-right{
	width: 50%;
	float: left;
}
.checkout-cart-index .cart-empty .see-our-left{
	border-right: 1px solid #dadada;
}
.checkout-cart-index .cart-empty .see-our-left h3,.cart-empty .see-our-right h3{
	color: #000;
	font-family: 'Gotham-Medium';
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 6px;
}
.checkout-cart-index .cart-empty .see-our-left a,.cart-empty .see-our-right a{
	color: #000;
	font-family: 'Gotham-Book';
	font-size: 14px;
	text-decoration: underline;
}
@media screen and (max-width: 640px){ 
	.checkout-cart-index .cart-empty .container_d{
		padding: 0 20px;
	}
	.checkout-cart-index .cart-empty .see-our-left, .cart-empty .see-our-right{
		width: 100%;
	}
	.checkout-cart-index .cart-empty .see-our-left{
	border-right: none;
}
	.checkout-cart-index .cart-empty .emptycart-see-our{
		margin-top: 100px; 
		height: 500px;
	}
	.checkout-cart-index .cart-empty .see-our-left::after{
		width: 200px;
	    border-top: 1px solid #dadada;
	    content: "";
	    text-align: center;
	    margin: 0 auto;
	    display: block;
	    clear: both;
	    margin-top: 68px;
	    margin-bottom: 80px;
	}
	.checkout-cart-index .cart-empty .see-our-left h3, .cart-empty .see-our-right h3{
		font-size: 26px;
		letter-spacing: 8px;
		line-height: 35px;
	}
	.checkout-cart-index .cart-empty .see-our-left a, .cart-empty .see-our-right a{
		font-size: 24px;
	}
	.checkout-cart-index .cart-empty .breadcrumb{
		display: none;
	}
	.checkout-cart-index .cart-empty .shoppingcartempty{
		font-size: 50px;
		padding: 0 15px;
	}
	.checkout-cart-index .cart-empty .shoppingcartempty span{
		display: inline;
	}
}
@media screen and (max-width: 441px){ 
	.checkout-cart-index .cart-empty .shoppingcartempty{
		font-size: 32px;
	}
	.checkout-cart-index .cart-empty .emptycart-see-our{
		margin-top: 50px; 
		height: 415px;
		margin-bottom: 60px; 
	}
	.checkout-cart-index .cart-empty .see-our-left h3, .cart-empty .see-our-right h3 {
		font-size: 18px;
		letter-spacing: 6px;
		line-height: 25px;
	}
	.checkout-cart-index .cart-empty .see-our-left a, .cart-empty .see-our-right a{
		font-size: 14px;
	}
	.checkout-cart-index .cart-empty .see-our-left::after{
		margin-top: 55px;
		margin-bottom: 49px;
	}
}