@media screen and (min-width: 768px){ 
  /*Mini cart*/
  .minicart-wrapper.active .block-minicart {
    width: 600px;
    padding: 0px 0px;
    border: 1px solid #dadada;
    border-bottom: 5px solid #000;
    right: 25%;
  }

  .minicart-wrapper .action.close {
    display: none;
  }

  .minicart-wrapper-title span {
    display: inline-block;
    font-family: "Gotham-Bold";
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #000;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .minicart-wrapper-title span:nth-child(1) {
    width: 62.5%;
    padding-left: 30px;
  }

  .minicart-wrapper-title span:nth-child(2) {
    width: 12.5%;
    text-align: center;
    background-color: #f5f5f5;
  }

  .minicart-wrapper-title span:nth-child(3) {
    width: 15%;
    text-align: center;
  }

  .minicart-items-wrapper {
    border: none;
    padding: 0;
    width: 600px;
    margin: 0;
  }

  .minicart-items .product > .product-item-photo {
    width: 117px;
    height: 117px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    float: left;
    border: 1px solid #dadada;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
  }

  #minicart-content-wrapper .product-image-container {
    margin: 0 auto;
  }

  .minicart-items .product-item {
    padding: 0;
  }

  .minicart-items .product-item-details {
    width: 230px;
    height: 117px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 75px;
    float: left;
    position: relative;
  }

  .minicart-items .product-item-details .minicart-remove-item {
    position: absolute;
    bottom: 0;
  }

  .minicart-items .product-item-name a {
    font-family: Gotham-Book;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
  }

  .minicart-items .details-qty {
    width: 75px;
    height: 142px;
    display: inline-block;
    background-color: #f5f5f5;
    text-align: center;
    float: left;
  }

  .minicart-items .item-qty {
    background-color: #f5f5f5;
    border: none;
    margin-right: 0;
    font-family: Gotham-Bold;
    font-size: 12px;
  }

  .minicart-items .product-item-pricing {
    width: 90px;
    display: inline-block;
    float: left;
  }

  #minicart-content-wrapper .price-container .price {
    font-size: 14px;
    letter-spacing: 0.1em;
    font-family: Gotham-Bold;
    color: #000;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 7px;
  }

  .minicart-wrapper .product .actions {
    display: none;
  }

  .block-minicart .block-content .actions .secondary a.viewcart {
    display: none;
  }

  .block-minicart .items-total {
    display: none;
  }

  .minicart-items .action.delete::before {
    content: 'X Remove';
    font-family: Gotham-Book;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1em;
    color: #999;
  }

  .block-minicart .subtotal {
    background-color: #f5f5f5;
    height: 60px;
    margin: 30px 0px 25px 0px;
    display: flex;
    align-items: center;
  }

  .block-minicart .subtotal .label {
    display: inline-block;
    float: left;
    width: 455px;
    font-family: Gotham-Bold;
    font-size: 12px;
    line-height: 12px;
    color: #000;
    letter-spacing: 0.1em;
  }

  .block-minicart .amount .price-wrapper:first-child .price {
    font-family: Gotham-Bold;
    font-size: 14px;
    color: #000;
    margin-top: 0px;
  }

  .block-minicart .subtotal .amount.price-container {
    width: 90px;
  }

  #top-cart-btn-checkout {
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    font-family: Gotham-Book;
    font-size: 13px;
    text-transform: uppercase;
    float: right;
    border: none;
    border-radius: 0px;
    margin: 0 30px;
    width: auto;
  }

  #top-cart-btn-checkout:hover {
    background-color: #262626;
  }

  .block-minicart .block-content > .actions > .primary {
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px
  }

  .block-minicart .block-content > .actions > .primary > span {
    font-family: Gotham-Book;
    font-size: 12px;
    color: #999;
    display: inline-table;
    width: 345px;
  }

  .block-minicart .block-content > .actions > .primary span strong {
    color: #000;
  }

  .minicart-items .product-item:not(:first-child) {
    border-top: none;
  }

  /*----end mini cart-----*/


  /*Mini Cart Empty*/
  .minicart-empty .block-content {
    float: left;
    width: 33.33%;
    padding: 160px 45px;
    background-color: #f5f5f5;
  }

  .minicart-empty .block-content .subtitle {
    font-family: MillerDisplay-Light;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #000;
    text-transform: uppercase;
    text-align: left;
  }

  .minicart-empty .block-content h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .minicart-empty .block-content h3 span {
    font-family: Gotham-Book;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #000;
    text-transform: uppercase;
  }

  .minicart-empty .minicart-also-like {
    float: left;
    width: 66.67%;
  }

  .minicart-also-like {
    padding: 30px 50px;
  }

  .minicart-also-like .also-like-title {
    font-family: Gotham-Bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .minicart-also-like .also-like-product-items .also-like-item {
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }

  .minicart-also-like .also-like-product-items {
    margin-bottom: 30px;
  }

  .minicart-also-like .also-like-product-items .product-item-image {
    width: 117px;
    height: 117px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    float: left;
    border: 1px solid #dadada;
  }

  .minicart-also-like .also-like-product-items .product-item-image a {
    display: block;
    margin: 0 auto;
  }

  .minicart-also-like .also-like-product-items .product-item-info {
    width: 67%;
    float: left;
    font-family: Gotham-Book;
    position: relative;
    height: 117px;
  }

  .minicart-also-like .also-like-product-items .product-item-info .product-item-name {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
  }

  .minicart-also-like .also-like-product-items .product-item-info .product-item-description {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #999;
    margin-top: 0px;
  }

  .minicart-also-like .also-like-product-items .product-item-info .product-reviews-summary {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .minicart-also-like .also-like-product-items .product-item-info .product-item-price {
    position: absolute;
    right: 0;
    bottom: 4px;
  }

  .minicart-empty .minicart-also-like .also-like-product-items .product-item-info .product-item-price span .price-box > span > span >span {
    font-size: 14px !important;
    /*font-family: Gotham-Book !important;*/
    margin-top: 0 !important;
  }

  .rating-summary .rating-result>span:before {
    color: #000;
  }

  /*-----------end minicart empty--------------*/

  /*Cart page have products*/
  #shopping-cart-table {
    margin-top: 50px;
  }

  .checkout-cart-index .cart-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .checkout-cart-index .cart-container .cart-summary{
    width: 25%;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 50px;
    background: transparent;
    position: static;
  }

  .checkout-cart-index .cart-container .cart-summary .container-summary-cart-checkout {
    border: 1px solid #dadada;
    padding: 20px 30px;
  }

  .checkou-cart-index .cart-container .cart-summary .cart-right-col-service {
    margin-top: 10px
  }

  .cart-right-col-service div.free-service, .cart-right-col-service div.customer-service {
    border: 1px solid #dadada;
    padding: 20px 30px;
    margin-top: 20px;
  }

  .cart-right-col-service .free-service div:first-child {
    border-bottom: 1px solid #dadada;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .cart-right-col-service .service-item h2 {
    font-family: MillerDisplay-Light;
    font-size: 18px;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
    line-height: 25px;
  }

  .cart-right-col-service .service-item span {
    font-family: Gotham-Book;
    font-size: 12px;
    display: block;
    text-align: center;
    line-height: 20px;
  }

  .cart-right-col-service .customer-service .service-item span span span {
    font-family: Gotham-Bold;
  }

  .cart-right-col-service .service-item span span input {
    font-family: Gotham-Book;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 15px 30px;
    color: #fff;
    background: #000;
    border: none;
    margin-top: 20px;
  }

  .cart-right-col-service .service-item span span input:hover {
    background: #999;
  }

  .container-summary-cart-checkout .summary.title {
    font-family: MillerDisplay-Light;
    font-size: 18px;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .container-summary-cart-checkout div.cart-totals {
    border-top: none;
    padding-top: 30px;
  }

  .container-summary-cart-checkout div.cart-totals table.totals tbody {
    font-family: Gotham-Book;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .checkout-cart-index .cart-container .form.form-cart {
    width: 75%;
    padding-right: 15px;
  }

  .checkout-cart-index .cart-container .form.form-cart .cart.main.actions {
    display: none;
  }

  .checkout-cart-index .cart-container .form-cart .table-wrapper thead {
    background-color: #000;
    font-family: Gotham-Medium;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
  }

  .checkout-cart-index .cart-container .form-cart .table-wrapper thead tr th {
    padding: 0;
    text-align: left;
  }

  .checkout-cart-index .cart-container .form-cart .table-wrapper thead tr th.item {
    width: 66.67%;
    padding-right: 30px;
  }

  .checkout-cart-index .cart-container .form-cart .table-wrapper thead tr th.qty {
    width: 22.22%;
    padding-right: 30px;
  }

  .checkout-cart-index .cart-container .form-cart .table-wrapper thead tr th.price {
    width: 11.11%
  }

  .checkout-cart-index .cart-container .form-cart .table-wrapper thead tr th span {
    display: block; 
    padding: 20px 0px 20px 20px;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item {
    padding: 50px 8px 50px 15px;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item .product-item-details {
    position: relative;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item strong.product-item-name {
    margin-bottom: 10px;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item strong.product-item-name a {
    font-family: Gotham-Medium;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #000;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item strong.product-item-name a:hover {
    text-decoration: none;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item div.actions-toolbar {
    margin-left: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item div.actions-toolbar a.action {
    margin: 0;
    background: transparent;
    border: none;
    border-radius: none;
    font-family: Gotham-Book;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 0;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item div.actions-toolbar a.action:hover {
    color: #999;
    text-decoration: underline;
  }

  .checkout-cart-index .cart-container .cart.table-wrapper .item td.col.item div.actions-toolbar a.action:active {
    box-shadow: none;
  }

  .cart.table-wrapper td.col.price, .cart.table-wrapper td.col.qty {
    text-align: left;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .cart.table-wrapper td.col.qty input.input-text {
    padding: 0 15px;
    height: 42px;
    font-size: 12px;
    line-height: 12px;
    font-family: Gotham-Book;
    color: #000;
    border: 1px solid #dadada;
  }

  .cart.table-wrapper td.col.price span.price {
    font-size: 12px;
    font-family: Gotham-Medium;
    color: #000;
    font-weight: normal;
  }

  .checkout-blow-cartform {
    width: 75%;
    padding-right: 15px;
  }

  .checkout-blow-cartform > div {
    float: left;
    width: 100%;
  }

  .checkout-blow-cartform .cart-gift-item .gift-item-block .title,
  .checkout-blow-cartform .block.discount .title {
    display: none !important;
  } 

  .checkout-blow-cartform .cart-gift-item .gift-item-block .content,
  .checkout-blow-cartform .block.discount .content {
    display: block !important;
  }

  .checkout-blow-cartform #gift-options-cart {
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;
  }

  .checkout-blow-cartform .gift-item-block div.content {
    border-bottom: none;
  }

  .checkout-blow-cartform #block-discount {
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;
    padding-bottom: 30px;
  } 
  /*--------end cart page have products--------*/
}

@media screen and (min-width: 1280px) {
  /*Modify header*/
  /*.page-wrapper .page-header .header.content .header_top div.header_left,
  .page-wrapper .page-header .header.content .header_top div.header_right {
    width: 41.67%;
  }

  .page-wrapper .page-header .header.content .header_top div.header_center {
    width: 16.66%
  }

  .page-wrapper .page-header .header.content .header_top .header_center strong.logo img {
    width: 100%;
    height: auto;
  }

  .page-wrapper .page-header .header.content .header_top .header_right div.account_link {
    width: 80%;
  }

  .page-wrapper .page-header .header.content .header_top .header_right div.account_link ul {
    float: right;
  }

  .page-wrapper .page-header .header.content .header_top .header_right div.account_link ul span.text {
    padding-top: 1px;
  }

  .page-wrapper .page-header .header.content .header_top .header_right div.minicart-wrapper {
    width: 20%;
  }

  .minicart-wrapper a.action.showcart {
    white-space: normal;
    float: right;
  } */
  /*----end modify header----*/
}

@media screen and (min-width: 1024px){ 
    .minicart-wrapper.active .minicart-empty {
      width: 830px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .minicart-wrapper.active .minicart-empty {
    width: 600px;
  }

  .minicart-empty .block-content .subtitle {
    font-size: 35px;
  }

  .minicart-also-like {
    padding: 30px 20px;
  }

  .minicart-also-like .also-like-product-items .product-item-info {
    width: 59%;
  }
}
 /*------END Mini cart------