

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../font/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Bold.otf')  format('opentype'),
         url('../font/Gotham-Bold.woff') format('woff'),
         url('../font/Gotham-Bold.ttf')  format('truetype'),
         url('../font/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../font/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Book.otf')  format('opentype'),
         url('../font/Gotham-Book.woff') format('woff'),
         url('../font/Gotham-Book.ttf')  format('truetype'),
         url('../font/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../font/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Light.otf')  format('opentype'),
         url('../font/Gotham-Light.woff') format('woff'),
         url('../font/Gotham-Light.ttf')  format('truetype'),
         url('../font/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../font/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-Medium.otf')  format('opentype'),
         url('../font/Gotham-Medium.woff') format('woff'),
         url('../font/Gotham-Medium.ttf')  format('truetype'),
         url('../font/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-XLight';
    src: url('../font/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-XLight.otf')  format('opentype'),
         url('../font/Gotham-XLight.woff') format('woff'),
         url('../font/Gotham-XLight.ttf')  format('truetype'),
         url('../font/Gotham-XLight.svg#Gotham-XLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-XLightItalic';
    src: url('../font/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
         url('../font/Gotham-XLightItalic.otf')  format('opentype'),
         url('../font/Gotham-XLightItalic.woff') format('woff'),
         url('../font/Gotham-XLightItalic.ttf')  format('truetype'),
         url('../font/Gotham-XLightItalic.svg#Gotham-XLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MillerDisplay-Light';
    src: url('../font/MillerDisplay-Light.eot?#iefix') format('embedded-opentype'),
         url('../font/MillerDisplay-Light.otf')  format('opentype'),
         url('../font/MillerDisplay-Light.woff') format('woff'),
         url('../font/MillerDisplay-Light.ttf')  format('truetype'),
         url('../font/MillerDisplay-Light.svg#MillerDisplay-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MillerDisplay-LightItalic';
    src: url('../font/MillerDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../font/MillerDisplay-LightItalic.otf')  format('opentype'),
    url('../font/MillerDisplay-LightItalic.woff') format('woff'), url('../font/MillerDisplay-LightItalic.ttf')  format('truetype'), url('../font/MillerDisplay-LightItalic.svg#MillerDisplay-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MillerDisplay-RomanBETA';
    src: url('../font/MillerDisplay-RomanBETA.eot?#iefix') format('embedded-opentype'),
         url('../font/MillerDisplay-RomanBETA.otf')  format('opentype'),
         url('../font/MillerDisplay-RomanBETA.woff') format('woff'),
         url('../font/MillerDisplay-RomanBETA.ttf')  format('truetype'),
         url('../font/MillerDisplay-RomanBETA.svg#MillerDisplay-RomanBETA') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SackersGothicStd-Heavy';
    src: url('../font/SackersGothicStd-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../font/SackersGothicStd-Heavy.otf')  format('opentype'),
         url('../font/SackersGothicStd-Heavy.woff') format('woff'),
         url('../font/SackersGothicStd-Heavy.ttf')  format('truetype'),
         url('../font/SackersGothicStd-Heavy.svg#SackersGothicStd-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zRhrpQhwwoff';
    src: url('../font/zRhrpQhwwoff.eot?#iefix') format('embedded-opentype'),
         url('../font/zRhrpQhwwoff.otf')  format('opentype'),
         url('../font/zRhrpQhwwoff.woff') format('woff'),
         url('../font/zRhrpQhwwoff.ttf')  format('truetype'),
         url('../font/zRhrpQhwwoff.svg#zRhrpQhwwoff') format('svg');
    font-weight: normal;
    font-style: normal;
}