@import 'lancome/styles-v1.css';
@import 'lancome/styles-v2.css';
@import 'lancome/styles-v3.css';
@import 'lancome/catalog.css';

/****IMPORT FONTS***/
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Gotham-Bold/Gotham-Bold.otf')  format('opentype'),
	     url('../fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Gotham-Book/Gotham-Book.otf')  format('opentype'),
	     url('../fonts/Gotham-Book/Gotham-Book.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/Gotham-Book/Gotham-Book.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light/Gotham-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Gotham-Light/Gotham-Light.otf')  format('opentype'),
	     url('../fonts/Gotham-Light/Gotham-Light.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/Gotham-Light/Gotham-Light.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Gotham-Medium/Gotham-Medium.otf')  format('opentype'),
	     url('../fonts/Gotham-Medium/Gotham-Medium.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/Gotham-Medium/Gotham-Medium.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-XLight';
  src: url('../fonts/Gotham-XLight/Gotham-XLight.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Gotham-XLight/Gotham-XLight.otf')  format('opentype'),
	     url('../fonts/Gotham-XLight/Gotham-XLight.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/Gotham-XLight/Gotham-XLight.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('../fonts/Gotham-XLightItalic/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Gotham-XLightItalic/Gotham-XLightItalic.otf')  format('opentype'),
	     url('../fonts/Gotham-XLightItalic/Gotham-XLightItalic.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/Gotham-XLightItalic/Gotham-XLightItalic.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MillerDisplay-LightItalic';
  src: url('../fonts/MillerDisplay-LightItalic/MillerDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/MillerDisplay-LightItalic/MillerDisplay-LightItalic.otf')  format('opentype'),
	     url('../fonts/MillerDisplay-LightItalic/MillerDisplay-LightItalic.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/MillerDisplay-LightItalic/MillerDisplay-LightItalic.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MillerDisplay-Light';
  src: url('../fonts/MillerDisplay-Light/MillerDisplay-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/MillerDisplay-Light/MillerDisplay-Light.otf')  format('opentype'),
	     url('../fonts/MillerDisplay-Light/MillerDisplay-Light.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/MillerDisplay-Light/MillerDisplay-Light.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MillerDisplay-RomanBETA';
  src: url('../fonts/MillerDisplay-RomanBETA/MillerDisplay-RomanBETA.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/MillerDisplay-RomanBETA/MillerDisplay-RomanBETA.otf')  format('opentype'),
	     url('../fonts/MillerDisplay-RomanBETA/MillerDisplay-RomanBETA.woff') format('woff'), url('Gotham-Bold.ttf')  format('truetype'), 
       url('../fonts/MillerDisplay-RomanBETA/MillerDisplay-RomanBETA.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/****END IMPORT FONTS***/
