@import "mascaras/mascaras.scss";
@import "shopping-cart-page/shopping-cart-page.scss";

.bootstrap-select{
			.bs-placeholder{
				outline: none !important;
			}
			.dropdown-toggle:focus{
				outline: none !important;
				background-color: #fff;
			}
			.dropdown-menu{
				li{
					a{
						outline: none !important;
						&:focus{
							background-color: #ddd;
						}
					}
				}
			}
			&.open{
				.dropdown-toggle{
					background-color: #fff;
				}
			}
}

header{
	.page-head{
		width: 100%
	}
	.wrapper{
		background-color: #131313;
	}
	.top-bar-wrapper{
		display: flex;
		padding-top: 10px;
		height: 60px;
	}
	.navbar-toggle{
		span{
			background-color: #fff;
		}
	}
	.top-bar{
		flex: 1;
		.sub-menu{
			width: auto;
			li{
				position: relative;	
				&:after{
					content: "|";
					position: absolute;
					top: 47%;
					transform: translateY(-50%);
					left: 0;
					color: #777777;
				}		
				a{
					color: #777777;
					text-transform: uppercase;
					font-size: 12px;
					line-height: 30px;
					transition: all 0.3s ease;
					&:hover{
						background-color: transparent;
						color: #fff;
					}
				}
			}
			.after-nill{
				&:after{
					content: "";
				}
			}
			.location{
				position: relative;
				padding-left: 12px;
				&:before{
					content: "\f041";
					font-family: FontAwesome;
					position: absolute;
					font-size: 12px;
					color: #777777;
					top: 50%;
					transform: translateY(-50%);
					transition: all 0.3s ease;
				}
				&:hover{
					&:before{
						color: #fff;
					}
				}
			}
			.bag{
				padding-right: 15px;
				position: relative;
				color: #fff;
				i{
					position: absolute;
					right: 0px;
					top: 50%;
					transform: translateY(-50%);
				}
				span{
					position: absolute;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background-color: #d71450;
					top: 12px;
					right: -9px;
					line-height: 15px;
					font-size: 10px;
					color: #fff;
					text-align: center;
				}
			}
		}
		.lang{
			width: auto;
			margin-right: 8px;
			li{
				text-transform: uppercase;
				color: #777777;
				margin-right: 6px;
				float: left;
				line-height: 52px;
				font-size: 12px;
				cursor: pointer;
				transition: all 0.3s ease;
				&:hover{
					color: #fff;
				}
			}
		}
	}
	.logo{
		flex: 0.3;
		color: #fff;
		text-align: center; 
		text-transform: uppercase;
		letter-spacing: 2px;
		img{
			width: 140px;
		    height: 40px;
		    margin-top: 8px;
		}
	}
	.main-menu{
		.navbar{
			margin-bottom: 0px;
			border: 0px;
		}
		.navbar-collapse{
			padding-right: 0px;
  			padding-left: 0px;
		}
	}
	.navbar-header{
		.nav{
			display: none;
		}
		.logo{
			display: none;
		}
		.wrap-input-search{
			display: none;
		}
	}
	.navbar-main-menu{
		width: auto;
		float: right;
		li{			
			a{
				color: #777777;
				transition: all 0.3s ease;
				text-transform: uppercase;
				&:hover{
					background-color: transparent;
					color: #fff;
				}
			}
		}
	}
	.navbar-search{
		margin-left: 60px;
		margin-top: 0px;
		position: relative;
	}
	.btn-search{
		background-color: #d71450;
		padding: 14px 25px;
		border-radius: 0;
		transition: all 0.3s ease;
		color: #fff;		
		i{
			margin-left: 5px; 
		}
	}
	.wrap-input-search{
		position: absolute;
		top: 50px;
		right: 0px;		
		width: 290px;
		visibility: hidden;
		opacity: 0;
		z-index: 999;
		transition: all 0.3s ease;
		.input-search{
			width: 250px;
			height: 40px;
			border: 0px;
			float: left;
			padding: 0 40px 0 15px;
			outline: none;
		}
		.submit-search{
			width: 40px;
			height: 40px;
			border: 0px;
			background-color: #fff;
			float: left;
			margin-left: 0px;
			margin-top: 0px;
		}
		&.active{
			visibility: visible;
			opacity: 1;
		}
	}
	
	.wrap-banner{
		width: 100%;
		.banner{
			position: relative; 
			height: 256px;
			img{
				width: 100%;
				position: absolute;
				height: 256px;
			}
			.banner-content{
				position: absolute;
				ul{
					margin-top: 10px;
					li{
						position: relative;
						float: left;
						a{
							color: #777777;
							transition: all 0.3s ease;
							&:hover{
								background-color: transparent;
								color: #fff;
								text-decoration: underline; 
							}
						}
						&:after{
							content: '-';
							position: absolute;
							top: 8px;
							left: -2px;
							font-size: 18px;
							color: #777777;
						}
					}
					li:nth-child(1){
						&:after{
							content: '';
						}
					}
				}
				.jumbotron{
					padding: 20px 15px;
					background-color: transparent;
					text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
					color: #fff;
					h1{
						margin-top: 0px;
						margin-bottom: 0px;
						text-transform: uppercase;
						letter-spacing: 1.8px;
					}
					.ave-text{
						text-transform: uppercase;
					}
					.small-text{
						font-size: 15px;
					}
				}
			}
		}
	}
}

.page-content{
	.product-items{
		display: table;
	}
	.categories{
		margin: 40px 0 0px;
		li{
			text-transform: uppercase;
			a{
				color: #333;
				text-decoration: underline;
				&:hover{
					background-color: transparent;					
				}
			}
		}
	}
	.list-title{
		text-transform: uppercase;
		letter-spacing: 1.2px;
		font-weight: bold;
	}
	.bootstrap-select{
		button{
			border-radius: 0px;
			padding: 10px 15px;
		}
	}
	.dropdown-menu{
		li{
			&.selected{
				border: 1px solid transparent !important;				
			}
		}
	}
	.items{
		text-align: center;
		margin-top: 60px;
		.thumbnail{
			border: 0px;
			padding: 0px;
			margin-top: 20px;
			img{
				margin-bottom: 40px;
			}
		}
		.caption{
			padding: 0px;
			h3{
				text-transform: uppercase;
				font-size: 20px;
				letter-spacing: 1.2px;
				line-height: 28px;
				a{
					color: #333;
					&:hover{
						text-decoration: none;
					}
				}
			}
			p{
				color: #989898;
			}
		}
		
	}
	.units{
		display: flex;		
		.unit-left{
			flex: 1;
			padding-right: 15px;
			padding-top: 15px;
			border-right: 1px solid #dadada;

		}
		.unit-right{
			flex: 0.7;
			h4{
				line-height: 20px;
				transform: translateX(-8px) translateY(16px);
			}
		}

	}

	fieldset, label { margin: 0; padding: 0; }

	.rating { 
	  border: none;
	  transform: translateY(9px);
	  span{
			line-height: 7px;
			color: #989898;
			transform: translateY(9px);
			margin-left: 3px;
		}
	}

	.rating > input { display: none; } 
	.rating > label:before { 
	  margin: 5px;
	  font-size: 12px;
	  font-family: FontAwesome;
	  display: inline-block;
	  content: "\f005";
	}

	.rating > .half:before { 
	  content: "\f089";
	  position: absolute;
	}

	.rating > label { 
	  	color: #ddd; 
		float: right; 
	}
	.rating > input:checked ~ label, /* show gold star when clicked */
	.rating:not(:checked) > label:hover, /* hover current star */
	.rating:not(:checked) > label:hover ~ label { color: #010101;  } /* hover previous stars in list */

	.rating > input:checked + label:hover, /* hover current star when changing rating */
	.rating > input:checked ~ label:hover,
	.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
	.rating > input:checked ~ label:hover ~ label { color: #010101;  }

	.btn-load-more{
		margin-top: 50px;
		text-align: center;
		border-radius: 0px;
		background-color: #fff;
		border: 1px solid #000000;
		padding: 10px 25px;
		text-transform: uppercase;
	}
}
footer{
	.wrap-search-content{
		background-color: #131313;
		padding: 60px 0;
		margin-top: 100px;
		h2{
			color: #fff;
			display: inline-block;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #fff;
		  text-transform: uppercase;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #fff;
		  text-transform: uppercase;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #fff;
		  text-transform: uppercase;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: #fff;
		  text-transform: uppercase;
		}
		.btn-search-content{
			height: 50px;
			width: 300px;
			background-color: #dd244d;
			border: 1px solid transparent;
			color: #fff;
			padding: 0 50px 0 15px;
			margin-left: 15px;
			outline: none;
		}
		.submit-search-content{
			background-color: #dd244d;
			border: 1px solid transparent;
			color: #fff;
			width: 60px;
			height: 48px;
			margin-left: -70px;
			i{
				color: #fff;
				font-size: 18px;
			}
		}
	}
	.wrap-logo-footer{
		padding: 150px 0;
	}
}	


@media (max-width: 1199px) { 

	header{
		.wrapper{
			.resp-large{
				width: 100%;
			}
		}
		.top-bar{
			.sub-menu{
				li{
					a{
						font-size: 11px;
						text-transform: lowercase;
					}
				}
			}
		}	
	}
	
}

@media (max-width: 767px) {
	header{
		nav{
			&.navbar{
				position: fixed;
				top: 0px;
				left: 0px;
				height: 50px;
				width: 100%;
				z-index: 9999;
				background-color: #131313;
			}
		}		
		.top-bar-wrapper{
			display: none;
		}
		.navbar-main-menu{
			float: left;
		}
		
		.navbar-header{
			position: relative;
			.navbar-search{
				margin-left: 0px;
			    margin-top: 0px;
			    width: 100%;
			    .wrap-input-search{
			    	right: 25px;
			    	left: inital;
			    	top: 0px;
			    	z-index: 999;
			    }
			}
			ul{
				display: block !important;
				float: right;
				width: auto;	
				li{
					width: 40px;
					float: left;
					padding-top: 15px;
					text-align: center;
					position: relative;
					i{
						color: #fff;
						font-size: 20px;
						cursor: pointer;
					}
				}
				.bag{
					span{
						position: absolute;
						width: 16px;
						height: 16px;
						border-radius: 50%;
						background-color: #d71450;
						top: 12px;
						right: 3px;
						line-height: 15px;
						font-size: 10px;
						color: #fff;
						text-align: center;
					}
				}	
			}	
			.logo{
				display: block !important;
				float: left;
				padding-left: 15px;
			}	
			.wrap-input-search{
				display: block;
			}	
		}
		.wrap-banner{
			padding-top: 50px;
		}
		.navbar-collapse{
			border-top: 1px solid #fff;
			.navbar-main-menu{
				width: 100%;
				background-color: #131313;
				margin: 0 0 0 ;
			}
			.navbar-search{
				display: none;
			}	
		}
			
	}

	.page-content{
		.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-]{
			float: right;
		}
	}
}

@media (max-width: 575px) {
	header{
		
		.navbar-header{
			.logo{
				img{
					width: 80px;
					height: 35px;
					margin-top: 10px;
				}
			}
			.navbar-toggle{
				margin-right: 0px;
			}
			.navbar-search{
				.wrap-input-search{
					width: 100%;
					right: -10px;
					.input-search{
						width: 230px;
					}
				}
			}
		}
		
		.wrap-banner{
			.banner{
				height: 156px;
				img{
					height: 156px;
				}
				.banner-content{
					ul{	
						padding-left: 7px;
						li{
							&:after{
								content: '';
							}	
							a{
								font-size: 12px;
								color: #fff;
								padding: 8px 8px;								
							}
						}
					}
					.jumbotron{
						margin-top: -20px;
						h1{
							font-size: 20px;
						}
						.ave-text{
							font-size: 15px;
						}
						.small-text{
							font-size: 12px;
						}	
					}
				}
			}			
		}
	}
	.page-content{
		.categories{
			li{
				width: 50%;
				text-align: center;
				float: left;
			}
		}
		.items{
			margin-top: 15px;
			.col-sm-6{
				padding: 0px;
			}
			.selectpicker{

			}
			.unit-left{
				width: 100%;
			} 
			.unit-right{
				width: 100%;
				.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-]{
					float: left;
				}
			}
		}
	}
	footer{
		.wrap-search-content{
			h2{
				font-size: 20px;
			}
			.btn-search-content{
				width: 200px;
				margin-left: 0px;
			}

		}
		.wrap-logo-footer {
			padding: 70px 15px;
			img{
				width: 100%;
				height: 100px;
			}
		}
	}
}