<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */
if ($block->getItemsCount()) {
	
?>
	<span><img src="<?php echo $this->getViewFileUrl('images/backto.png');?>" class="backto"/><a href="<?php echo $block->getBaseUrl();?>">Back To Shopping</a></span>
	<div class="shopping-cart-title"><span>Your Shopping Cart (<?php $helper = $this->helper('\Magento\Checkout\Helper\Cart'); echo $helper->getItemsCount();?> Items)</span><div>
<?php
    echo $block->getChildHtml('with-items');
} else {
    echo $block->getChildHtml('no-items');
}
?>
<span><img src="<?php echo $this->getViewFileUrl('images/backto.png');?>" class="backto"/><a href="<?php echo $block->getBaseUrl();?>">Back To Shopping</a></span>
