<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">

        <dd id="dd_method_one23cash">
                    <fieldset class="ml-123cash">
                            <ul id="payment_form_one23cash" class="pm-description">
                    <li>
                        <span></span>
                    </li>
                    <li>
                        <label class="required hd-123cash">Internet Banking / Direct Debit</label>
                        <div class="input-box">
                            <ul class="tesco-payment">
                                                                                <li>
                                        <input id="WEBPAY_BAY_ONE23CASH" value="WEBPAY_BAY" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="WEBPAY_BAY_ONE23CASH" class="bay-123cash" id="WEBPAY_BAY_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="WEBPAY_BBL_ONE23CASH" value="WEBPAY_BBL" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="WEBPAY_BBL_ONE23CASH" class="bbl-123cash" id="WEBPAY_BBL_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="WEBPAY_KTB_ONE23CASH" value="WEBPAY_KTB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="WEBPAY_KTB_ONE23CASH" class="ktb-123cash" id="WEBPAY_KTB_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="WEBPAY_SCB_ONE23CASH" value="WEBPAY_SCB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="WEBPAY_SCB_ONE23CASH" class="scb-123cash" id="WEBPAY_SCB_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="WEBPAY_TMB_ONE23CASH" value="WEBPAY_TMB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="WEBPAY_TMB_ONE23CASH" class="tmb-123cash" id="WEBPAY_TMB_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="WEBPAY_UOB_ONE23CASH" value="WEBPAY_UOB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="WEBPAY_UOB_ONE23CASH" class="uob-123cash" id="WEBPAY_UOB_ONE23CASH_LABEL"></label>
                                    </li>
                                                </ul>
                        </div>
                    </li>
                    <li>
                        <label class="required hd-123cash">Counter Service</label>
                        <div class="input-box">
                            <ul class="tesco-payment">
                                                                                                        <li>
                                        <input id="OVERTHECOUNTER_BIGC_ONE23CASH" value="OVERTHECOUNTER_BIGC" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="OVERTHECOUNTER_BIGC_ONE23CASH" class="bigc-123cash" id="OVERTHECOUNTER_BIGC_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                                        <li>
                                        <input id="OVERTHECOUNTER_FAMILYMART_ONE23CASH" value="OVERTHECOUNTER_FAMILYMART" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="OVERTHECOUNTER_FAMILYMART_ONE23CASH" class="familymart-123cash" id="OVERTHECOUNTER_FAMILYMART_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                                        <li>
                                        <input id="OVERTHECOUNTER_MPAY_ONE23CASH" value="OVERTHECOUNTER_MPAY" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="OVERTHECOUNTER_MPAY_ONE23CASH" class="mpay-123cash" id="OVERTHECOUNTER_MPAY_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                                        <li>
                                        <input id="OVERTHECOUNTER_PAYATPOST_ONE23CASH" value="OVERTHECOUNTER_PAYATPOST" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="OVERTHECOUNTER_PAYATPOST_ONE23CASH" class="payatpost-123cash" id="OVERTHECOUNTER_PAYATPOST_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                                        <li>
                                        <input id="OVERTHECOUNTER_TESCO_ONE23CASH" value="OVERTHECOUNTER_TESCO" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="OVERTHECOUNTER_TESCO_ONE23CASH" class="tesco-123cash" id="OVERTHECOUNTER_TESCO_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                                        <li>
                                        <input id="OVERTHECOUNTER_TOT_ONE23CASH" value="OVERTHECOUNTER_TOT" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="OVERTHECOUNTER_TOT_ONE23CASH" class="tot-123cash" id="OVERTHECOUNTER_TOT_ONE23CASH_LABEL"></label>
                                    </li>
                                                </ul>
                        </div>
                    </li>
                    <li>
                        <label class="required hd-123cash">ATM</label>
                        <div class="input-box">
                            <ul class="tesco-payment">
                                                                                <li>
                                        <input id="ATM_BAY_ONE23CASH" value="ATM_BAY" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="ATM_BAY_ONE23CASH" class="bay-123cash" id="ATM_BAY_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="ATM_BBL_ONE23CASH" value="ATM_BBL" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="ATM_BBL_ONE23CASH" class="bbl-123cash" id="ATM_BBL_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="ATM_KBANK_ONE23CASH" value="ATM_KBANK" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="ATM_KBANK_ONE23CASH" class="kbank-123cash" id="ATM_KBANK_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="ATM_KTB_ONE23CASH" value="ATM_KTB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="ATM_KTB_ONE23CASH" class="ktb-123cash" id="ATM_KTB_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="ATM_SCB_ONE23CASH" value="ATM_SCB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="ATM_SCB_ONE23CASH" class="scb-123cash" id="ATM_SCB_ONE23CASH_LABEL"></label>
                                    </li>
                                                </ul>
                        </div>
                    </li>
                    <li>
                        <label class="required hd-123cash">Bank Counter</label>
                        <div class="input-box">
                            <ul class="tesco-payment">
                                                                                <li>
                                        <input id="BANKCOUNTER_BAY_ONE23CASH" value="BANKCOUNTER_BAY" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="BANKCOUNTER_BAY_ONE23CASH" class="bay-123cash" id="BANKCOUNTER_BAY_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="BANKCOUNTER_BBL_ONE23CASH" value="BANKCOUNTER_BBL" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="BANKCOUNTER_BBL_ONE23CASH" class="bbl-123cash" id="BANKCOUNTER_BBL_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="BANKCOUNTER_KBANK_ONE23CASH" value="BANKCOUNTER_KBANK" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="BANKCOUNTER_KBANK_ONE23CASH" class="kbank-123cash" id="BANKCOUNTER_KBANK_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="BANKCOUNTER_KTB_ONE23CASH" value="BANKCOUNTER_KTB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="BANKCOUNTER_KTB_ONE23CASH" class="ktb-123cash" id="BANKCOUNTER_KTB_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="BANKCOUNTER_SCB_ONE23CASH" value="BANKCOUNTER_SCB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="BANKCOUNTER_SCB_ONE23CASH" class="scb-123cash" id="BANKCOUNTER_SCB_ONE23CASH_LABEL"></label>
                                    </li>
                                                </ul>
                        </div>
                    </li>
                    <li>
                        <label class="required hd-123cash">Bank Website</label>
                        <div class="input-box" style="border:0px;">
                            <ul class="tesco-payment">
                                                                                <li>
                                        <input id="IBANKING_BAY_ONE23CASH" value="IBANKING_BAY" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="IBANKING_BAY_ONE23CASH" class="bay-123cash" id="IBANKING_BAY_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="IBANKING_BBL_ONE23CASH" value="IBANKING_BBL" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="IBANKING_BBL_ONE23CASH" class="bbl-123cash" id="IBANKING_BBL_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="IBANKING_KBANK_ONE23CASH" value="IBANKING_KBANK" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="IBANKING_KBANK_ONE23CASH" class="kbank-123cash" id="IBANKING_KBANK_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="IBANKING_KTB_ONE23CASH" value="IBANKING_KTB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="IBANKING_KTB_ONE23CASH" class="ktb-123cash" id="IBANKING_KTB_ONE23CASH_LABEL"></label>
                                    </li>
                                                                                <li>
                                        <input id="IBANKING_SCB_ONE23CASH" value="IBANKING_SCB" type="radio" name="agent_one23cash" class="radio radio123cash" autocomplete="off">
                                        <label for="IBANKING_SCB_ONE23CASH" class="scb-123cash" id="IBANKING_SCB_ONE23CASH_LABEL"></label>
                                    </li>
                                                </ul>
                        </div>
                    </li>
                </ul>
            </fieldset>
        </dd>

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
