<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isActive() -->
<div class="gift-message">
    <div class="gift-options-title">
        <span data-bind="i18n: 'Gift Message (optional)'"></span>
    </div>
    <div class="gift-options-content">
        <fieldset class="fieldset">
            <div class="field field-to">
                <div class="control">
                    <input type="checkbox"
                           id="gift-message-whole-to"
                           class="input-checkbox"
                           data-bind="value: getObservable('recipient')">
                </div>
				<label for="gift-message-whole-to" class="label">
                    <span data-bind="i18n: 'This order is a gift, please gift box it.'"></span>
                </label>
            </div>

            <div class="field field-from">
                <div class="control">
                    <input type="checkbox"
                           id="gift-message-whole-from"
                           class="input-checkbox"
                           data-bind="value: getObservable('sender')">
                </div>
				<label for="gift-message-whole-from" class="label">
                    <span data-bind="i18n: 'Add a gift message'"></span>
                </label>
            </div>
            <div class="field text">
                <label for="gift-message-whole-message" class="label">
                    <span data-bind="i18n: 'Your mesage'"></span>
					<span data-bind="i18n: '250 characters left'"></span>
                </label>
                <div class="control">
                    <textarea id="gift-message-whole-message"
                              class="input-text"
                              rows="5" cols="10"
                              data-bind="value: getObservable('message')"></textarea>
                </div>
            </div>
        </fieldset>

    </div>
</div>
<!-- /ko -->
<div class="actions-toolbar">
    <div class="secondary">
        <button type="submit" class="action secondary action-update" data-bind="
                    attr: {title: $t('Update')},
                    click: $data.submitOptions.bind($data)">
            <span data-bind="i18n: 'Save'"></span>
        </button>
        <!--<button class="action action-cancel" data-bind="
                    attr: {title: $t('Cancel')},
                    click: $data.hideFormBlock.bind($data)">
            <span data-bind="i18n: 'Cancel'"></span>
        </button>-->
    </div>
</div>
