<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block newsletter">
    <div class="title"><strong>Add more Beauty to your Email</strong></div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label" for="newsletter"><span><?php echo __('Sign Up for Our Newsletter:') ?></span></label>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                                placeholder="<?php echo __('Your email') ?>"
                                data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="<?php echo __('Ok') ?>" type="submit">
                    <span><?php echo __('Ok') ?></span>
                </button>
            </div>
        </form>
    </div>
    <div class="subscribe_chackbox">
        <input type="checkbox" name="is_subscribed" title="" value="1" id="is_subscribed" class="checkbox"/>
        <label for="is_subscribed" class="label">
            <span><?php echo __('Lorem ipsum dolor sit amet, consectetur adipiscing')?></span>
        </label>
    </div>
</div>
